<div class="d-flex justify-content-start h-100 w-100" style="background: black;">
  <div class="obs" style="width: 1920px; height: 1080px; max-width: 1920px; max-height: 1080px;">
    <ng-template [ngIf]="layoutString === 'standard'">
      <app-standard-side-panel></app-standard-side-panel>
      <div class="standard-cap-card"></div>
    </ng-template>
    <ng-template [ngIf]="layoutString === 'widescreen'">
      <app-widescreen-side-panel></app-widescreen-side-panel>
    </ng-template>
    <ng-template [ngIf]="layoutString === '3ds'">
      <app-ds3-bottom-panel></app-ds3-bottom-panel>
    </ng-template>
    <ng-template [ngIf]="layoutString === 'dsv'">
      <app-dsv-side-panel></app-dsv-side-panel>
    </ng-template>
    <ng-template [ngIf]="layoutString === 'ds'">
      <app-ds-side-panel></app-ds-side-panel>
    </ng-template>
    <app-omnibar></app-omnibar>
  </div>
</div>
