<div class="position-relative">
  <div class="d-flex flex-column side-panel">
    <app-dsv-game-description></app-dsv-game-description>
    <app-dsv-camera></app-dsv-camera>
    <div class="fake-background">
      <app-dsv-runner-name></app-dsv-runner-name>
      <app-dsv-timer></app-dsv-timer>
    </div>
    <app-dsv-ad-panel style="height: 368px; max-height: 368px;"></app-dsv-ad-panel>
  </div>
  <div class="d-flex justify-content-center dsv-panel">
    <div class="ds-screen">
      <div class="ds-top-screen"></div>
      <div class="ds-screen-gap"></div>
      <div class="ds-bottom-screen"></div>
    </div>
  </div>
</div>
