<div class="container p-3" style="background-color: #606060;">

  <div class="py-2">
    <h3 class="text-white">Donors</h3>
    <h6 class="text-white-50">
      On behalf of everyone at the ZeldathonUK team, I would like to thank all of the donors below for their generous donations.
    </h6>
    <div class="text-center card card-header">
      <div class="d-inline">
        <button class="btn btn-sm btnfacebook mr-3" (click)="donateFacebook();">
          Donate via Facebook
        </button>
        <button class="btn btn-sm btn-justgiving" (click)="donateJustGiving();">
          Donate via JustGiving
        </button>
      </div>
    </div>
  </div>


  <div class="py-2 text-white">
    No donors yet! Please consider starting us off!
  </div>

</div>
