.donation-benefit-amount {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}

.donation-benefit-img{
  max-width: 100%;
  max-height: 5em;
}

.donation-benefit-desc {
  font-size: 0.9em;
}

.btn-justgiving {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:hover {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:focus, .btn-justgiving.focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-justgiving.disabled, .btn-justgiving:disabled {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:not(:disabled):not(.disabled):active, .btn-justgiving:not(:disabled):not(.disabled).active,
.show > .btn-justgiving.dropdown-toggle {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:not(:disabled):not(.disabled):active:focus, .btn-justgiving:not(:disabled):not(.disabled).active:focus,
.show > .btn-justgiving.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:focus, .btn-facebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.donation-list-container {
  height: auto;
}

.card {
}

.donation {
  color: white;
  border-radius: 0.25rem;
  padding: 8px 8px 4px 8px;
  width: 100%;
}

.donation-img {
  padding: 1px;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 3em;
  max-height: 3em;
  max-width: 3em;
}

.facebook-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #3b5998;
  border: #344e86 solid 2px;
}

.facebook-donation::before {
  z-index:-1;
  position:absolute;
  left: 0;
  top: 0;
  content: url("../../../assets/img/thumb_icon_header_image_05_2018.png");
  transform: scale(.25) translateX(-50%) translateY(-135%);
  opacity: 0.2;
}

.justgiving-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #932aa1;
  border: #6e2079 solid 2px;
}

.justgiving-donation::before {
  z-index:-1;
  position:absolute;
  left: 0;
  top: 0;
  content: url("../../../assets/img/JustGiving_Logo-cropped.png");
  transform: scale(.5) translateX(-40%) translateY(50%);
  opacity: 0.4;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 1;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    column-count: 2;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    column-count: 3;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1299.98px) {
  .card-columns {
    column-count: 1;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1399.98px) {
  .card-columns {
    column-count: 2;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) and (max-width: 1699.98px) {
  .card-columns {
    column-count: 3;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1700px) {
  .card-columns {
    column-count: 4;
  }
}
