.donation-benefit-amount {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}
.donation-benefit-img{
  max-width: 100%;
  max-height: 5em;
}
.donation-benefit-desc {
  font-size: 0.9em;
}

.btn-justgiving {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:hover {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:focus, .btn-justgiving.focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-justgiving.disabled, .btn-justgiving:disabled {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:not(:disabled):not(.disabled):active, .btn-justgiving:not(:disabled):not(.disabled).active,
.show > .btn-justgiving.dropdown-toggle {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:not(:disabled):not(.disabled):active:focus, .btn-justgiving:not(:disabled):not(.disabled).active:focus,
.show > .btn-justgiving.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}






.btnfacebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:focus, .btnfacebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btnfacebook.disabled, .btnfacebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:not(:disabled):not(.disabled):active, .btnfacebook:not(:disabled):not(.disabled).active,
.show > .btnfacebook.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:not(:disabled):not(.disabled):active:focus, .btnfacebook:not(:disabled):not(.disabled).active:focus,
.show > .btnfacebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .donor-list {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .donor-list {
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .donor-list {
    width: 100%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .donor-list {
    width: 50%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .donor-list {
    width: 33%;
  }
}

.donation {
  color: white;
  border-radius: 0.25rem;
  padding: 1em;
  width: 95%;
}

.donation-img {
  padding: 1px;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-height: 1.4em;
  max-width: 100%;
  height: auto;
}

.facebook-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #3b5998;
  border: #344e86 solid 2px;
}
.facebook-donation::before {
  z-index:-1;
  position:absolute;
  left: 0;
  top: 0;
  content: url("../../../assets/img/thumb_icon_header_image_05_2018.png");
  transform: scale(.25) translateX(-50%) translateY(-135%);
  opacity: 0.2;
}

.justgiving-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #932aa1;
  border: #6e2079 solid 2px;
}
.justgiving-donation::before {
  z-index:-1;
  position:absolute;
  left: 0;
  top: 0;
  content: url("../../../assets/img/JustGiving_Logo.svg.png");
  transform: scale(.35) translateX(-75%) translateY(-55%);
  opacity: 0.4;
}
