<footer class="footer">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="mx-2">
        <span class="footer-text">&copy; 2011-{{ currentDate | date:'yyyy' }} ZeldathonUK</span>
      </div>
      <div class="text-muted mx-2">
        <a class="footer-text" [routerLink]="['terms']" [routerLinkActive]="'active'">Terms</a>
      </div>
      <div class="text-muted mx-2">
        <a class="footer-text" [routerLink]="['privacy']" [routerLinkActive]="'active'">Privacy</a>
      </div>
    </div>
  </div>
</footer>
