<div class="d-flex justify-content-start min-vh-100 h-auto w-100" style="background: dimgrey;">
  <div class="d-flex flex-column w-100">
    <app-navbar></app-navbar>
    <div class="flex-fill container py-2" style="background: lightgrey;">

      <div class="">
        <div class="d-flex justify-content-between">
          <h3 class="text-dark pt-2">OBS Layouts</h3>
          <button class="btn btn-sm btn-dark" (click)="toggleShowObsLayouts();">Show/Hide</button>
        </div>
        <div class="w-100" *ngIf="showObsLayouts">
          <div class="card border-secondary layout-list">
            <div class="card-header">Audio Visualiser</div>
            <img class="card-img" src="../../../assets/img/obs-preview/audioviz-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/audio-countdown">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">Break</div>
            <img class="card-img" src="../../../assets/img/obs-preview/break-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/break">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">Omnibar</div>
            <img class="card-img" src="../../../assets/img/obs-preview/omnibar-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/omnibar">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">TTS</div>
            <img class="card-img" src="../../../assets/img/obs-preview/tts-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/tts">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">Standard (4:3)</div>
            <img class="card-img" src="../../../assets/img/obs-preview/standard-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/standard">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">Widescreen (16:9)</div>
            <img class="card-img" src="../../../assets/img/obs-preview/widescreen-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/widescreen">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">FSA 4P Split</div>
            <img class="card-img" src="../../../assets/img/obs-preview/fsa-4p-split-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/fsa-4p-split">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">3DS</div>
            <img class="card-img" src="../../../assets/img/obs-preview/ds3-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/3ds">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">DS (Top Focus)</div>
            <img class="card-img" src="../../../assets/img/obs-preview/ds-layout-preview.png">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/ds">Open</a></div>
          </div>
          <div class="card border-secondary layout-list">
            <div class="card-header">DS (Vertical)</div>
            <img class="card-img" src="../../../assets/img/obs-preview/dsv-layout-preview.PNG">
            <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/dsv">Open</a></div>
          </div>
        </div>
      </div>

      <hr class="hr">

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <h3 class="text-dark pt-2">Break Timer</h3>
          <button class="btn btn-sm btn-dark" (click)="toggleShowBreakCountdownDate();">Show/Hide</button>
        </div>
        <div class="d-flex flex-column" *ngIf="showBreakCountdownDate">
          <div class="d-flex justify-content-start align-items-center mt-2">
            <div class="d-flex align-items-center m-1 w-25">
              <span class="timer-label ml-2">Break Countdown to Date:</span>
            </div>
            <div class="d-flex justify-content-start align-items-center w-75">
              <form class="d-flex align-self-center">
                <div class="form-group">
                  <label class="small mb-0" for="breakCountdownDate">Break Countdown Date:</label>
                  <input id="breakCountdownDate" name="breakCountdownDate" type="date" class="form-control form-control-sm"
                         [(ngModel)]="breakCountdownDate">
                </div>
                <div class="form-group ml-2">
                  <label class="small mb-0" for="breakCountdownTime">Time:</label>
                  <input id="breakCountdownTime" name="breakCountdownTime" type="time" class="form-control form-control-sm"
                         [(ngModel)]="breakCountdownTime">
                </div>
                <div class="d-flex align-self-center ml-2">
                  <button class="btn btn-primary" (click)="setBreakCountdown()">Set Break Timer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <hr class="hr">

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <h3 class="text-dark pt-2">Play Timer</h3>
          <button class="btn btn-sm btn-dark" (click)="toggleShowTimer();">Show/Hide</button>
        </div>
        <div class="d-flex flex-column" *ngIf="showTimer">
          <div class="d-flex justify-content-start align-items-center mt-2">
            <div class="d-flex align-items-center m-1 mr-5">
              <span class="timer-label ml-2">Time&nbsp;Played:</span>
            </div>
            <div class="d-flex justify-content-start align-items-center w-100">

              <div class="card text-white bg-secondary"
                   [ngClass]="countUpData[0].isStarted === true ? 'border-primary'
                            : countUpData[0].hasPaused === true ? 'border-warning'
                            : countUpData[0].isStopped === true ? 'border-dark'
                            : ''"
                   *ngIf="countUpData">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <div>
                    </div>
                    <div class="badge small" [ngClass]="countUpData[0].isStarted === true ? 'badge-primary'
                                                      : countUpData[0].hasPaused === true ? 'badge-warning'
                                                      : countUpData[0].isStopped === true ? 'badge-danger' : ''">
                      {{ countUpData === undefined ? 'Loading...'
                        : countUpData[0].isStarted === true ? 'Started'
                            : countUpData[0].hasPaused === true ? 'Paused'
                                : countUpData[0].isStopped === true ? 'Stopped' : '' }}
                    </div>
                  </div>
                </div>
                <div class="card-body text-center">
                  <h1>{{ this.timer$ | async }}</h1>
                </div>
                <div class="card-footer">
                  <div class="m-3">
                    <button class="btn btn-success mx-1"
                            [title]="countUpData[0].isStarted === true ? 'Play'
                                   : countUpData[0].hasPaused === true ? 'Undo Pause'
                                   : countUpData[0].isStopped === true ? 'Play' : ''"
                            [disabled]="countUpData[0].isStarted"
                            (click)="start()">
                      <fa-icon [icon]="faPlay" *ngIf="countUpData[0].isStarted === true"></fa-icon>
                      <fa-icon [icon]="faHistory" *ngIf="countUpData[0].hasPaused === true"></fa-icon>
                      <fa-icon [icon]="faPlay" *ngIf="countUpData[0].isStopped === true"></fa-icon>
                      {{ countUpData === undefined ? 'Loading...'
                        : countUpData[0].isStarted === true ? ''
                            : countUpData[0].hasPaused === true ? (getCancelTimer(countUpData[0]?.startDate) | async)
                                : countUpData[0].isStopped === true ? '' : '' }}
                    </button>
                    <button class="btn btn-success mx-1"
                            [title]="'Resume'"
                            [disabled]=""
                            (click)="unpause()"
                            *ngIf="countUpData !== undefined && countUpData[0].hasPaused === true">
                      <fa-icon [icon]="faPlay"></fa-icon>
                      {{ (getPausedTimer() | async) }}
                    </button>
                    <button class="btn btn-warning mx-1"
                            [title]="countUpData[0].isStarted === true ? 'Reset'
                                   : countUpData[0].hasPaused === true ? 'Reset'
                                   : countUpData[0].isStopped === true ? 'Reset' : ''"
                            [disabled]="countUpData[0].isStopped"
                            (click)="reset()">
                      <fa-icon [icon]="faBackward" *ngIf="countUpData[0].isStarted === true"></fa-icon>
                      <fa-icon [icon]="faBackward" *ngIf="countUpData[0].hasPaused === true"></fa-icon>
                      <fa-icon [icon]="faBackward" *ngIf="countUpData[0].isStopped === true"></fa-icon>
                      {{ countUpData === undefined ? 'Loading...'
                        : countUpData[0].isStarted === true ? '00:00:00'
                            : countUpData[0].hasPaused === true ? '00:00:00'
                                : countUpData[0].isStopped === true ? '' : '' }}
                    </button>
                    <button class="btn btn-danger mx-1"
                            [title]="countUpData[0].isStarted === true ? 'Pause'
                                   : countUpData[0].hasPaused === true ? 'Stop'
                                   : countUpData[0].isStopped === true ? 'Pause' : ''"
                            [disabled]="countUpData[0].isStopped"
                            (click)="pauseStop(countUpData[0]?.startDate)">
                      <fa-icon [icon]="faPause" *ngIf="countUpData[0].isStarted === true"></fa-icon>
                      <fa-icon [icon]="faStop" *ngIf="countUpData[0].hasPaused === true"></fa-icon>
                      <fa-icon [icon]="faPause" *ngIf="countUpData[0].isStopped === true"></fa-icon>
                      {{ countUpData === undefined ? 'Loading...'
                        : countUpData[0].isStarted === true ? (getCancelTimer(countUpData[0]?.startDate) | async)
                            : countUpData[0].hasPaused === true ? '00:00:00'
                                : countUpData[0].isStopped === true ? '' : '' }}
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <hr class="hr">

      <div class="mb-3">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex justify-content-start">
            <h3 class="text-dark pt-2 mr-3">Runner Name</h3>
            <div class="align-self-end card border-secondary bg-warning mb-2 p-1">
              <div class="d-flex flex-row">
                <span class="small mr-2">Current Runner:</span>
                <h6 class="m-0">{{ currentRunner !== undefined ? currentRunner.runnerName + ' (Twitch: ' + currentRunner.runnerHasTwitchAccount + ')' : 'fetching...' }}</h6>
              </div>
            </div>
          </div>
          <button class="btn btn-sm btn-dark" (click)="toggleShowRunnerName();">Show/Hide</button>
        </div>
        <div class="d-flex" *ngIf="showRunnerName">

          <div class="input-group input-group-lg">

            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faTwitch" class="pr-3"></fa-icon>
                  <input style="width: 20px; height: 20px;"
                         type="checkbox"
                         title="Is this runner on twitch?" [(ngModel)]="runnerName.runnerHasTwitchAccount">
                </div>
              </div>
              <input type="text" class="form-control" [(ngModel)]="runnerName.runnerName">
              <div class="input-group-append">
                <button class="btn btn-primary btn-lg" (click)="updateRunner()">Change Runner</button>
              </div>
            </div>


          </div>

        </div>
      </div>

      <hr class="hr">

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <h3 class="text-dark pt-2 mr-3">Add Donation</h3>
          <button class="btn btn-sm btn-dark" (click)="toggleShowAddDonation();">Show/Hide</button>
        </div>
        <div class="d-flex justify-content-center" *ngIf="showAddDonation">
          <form class="w-50">

            <div class="form-group mb-1">
              <label class="small mb-0" for="donationId">ID:</label>
              <input id="donationId" name="donationId" type="text" placeholder="Donation Id"
                     class="form-control form-control-sm"
                     disabled="true"
                     [(ngModel)]="tempTrackedDonation.id">
            </div>

            <div class="form-group mb-1">
              <label class="small mb-0" for="name">Name:</label>
              <input id="name" name="name" type="text" placeholder="Name" class="form-control form-control-sm"
                     [(ngModel)]="tempTrackedDonation.name">
            </div>

            <div class="d-flex justify-content-between">
              <div class="flex-grow-1">
                <div class="form-group mb-1">
                    <label class="small mb-0" for="imgUrl">Image Url:</label>
                    <input id="imgUrl" name="imgUrl" type="text"
                           class="form-control form-control-sm"
                           placeholder="https://via.placeholder.com/150"
                           [(ngModel)]="tempTrackedDonation.imgUrl">
                </div>
              </div>
              <div class="ml-2">
                <img class="img-thumbnail" style="max-height: 4em;" [src]="tempTrackedDonation.imgUrl">
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="small mb-0" for="message">Donation Message:</label>
              <textarea id="message" name="message" placeholder="Donation Message" class="form-control form-control-sm"
                        [(ngModel)]="tempTrackedDonation.message"></textarea>
            </div>

            <div class="d-flex justify-content-between">

              <div class="form-group mb-1">
                <label class="small mb-0" for="currency">Currency:</label>
                <select id="currency" name="currency" class="form-control form-control-sm"
                        [(ngModel)]="tempTrackedDonation.currency">
                  <option [ngValue]="'GBP'" selected="selected">GBP</option>
                  <option [ngValue]="'EUR'">EUR</option>
                  <option [ngValue]="'USD'">USD</option>
                </select>
              </div>

              <div class="form-group mb-1">
                <label class="small mb-0" for="donationAmount">Donation Amount:</label>
                <input id="donationAmount" name="donationAmount" type="number" value="0.00" class="form-control form-control-sm"
                       [(ngModel)]="tempTrackedDonation.donationAmount">
              </div>

              <div class="form-group mb-1">
                <label class="small mb-0" for="giftAidAmount">GiftAid Amount:</label>
                <input id="giftAidAmount" name="giftAidAmount" type="number" value="0.00" class="form-control form-control-sm"
                       [(ngModel)]="tempTrackedDonation.giftAidAmount">
              </div>

              <div class="form-group mb-1">
                <label class="small mb-0" for="donationSource">Donation Source:</label>
                <select id="donationSource" name="donationSource" class="form-control form-control-sm"
                        [(ngModel)]="tempTrackedDonation.donationSource">
                  <option [ngValue]="'Manual'" selected="selected">Manual</option>
                  <option [ngValue]="'Facebook'">Facebook</option>
                  <option [ngValue]="'JustGiving'">JustGiving</option>
                  <option [ngValue]="'Test'">Test</option>
                </select>
              </div>

            </div>

            <div class="d-flex justify-content-between">

              <div class="form-group w-50">
                <label class="small mb-0" for="donationDate">Date:</label>
                <input id="donationDate" name="donationDate" type="date" class="form-control form-control-sm"
                       [(ngModel)]="donationDate">
              </div>

              <div class="form-group w-50 ml-2">
                <label class="small mb-0" for="donationTime">Time:</label>
                <input id="donationTime" name="donationTime" type="time" class="form-control form-control-sm"
                       [(ngModel)]="donationTime">
              </div>

            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-secondary mb-2 w-25" (click)="clearTrackedDonation()">Clear</button>
              <button type="submit" class="btn btn-primary mb-2 ml-2 w-75" (click)="submitTrackedDonation()">Add Donation</button>
            </div>

          </form>
        </div>
      </div>

      <hr class="hr">

      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">
            <h3 class="text-dark pt-2 mr-3">Select Game</h3>
            <div class="align-self-end card border-secondary bg-warning mb-2 p-1">
              <div class="d-flex flex-row">
                <span class="small mr-2">Currently Playing:</span>
                <h6 class="m-0">{{ gameLineUp !== undefined ? currentlyPlaying.index : 'fetching...' }}</h6>
              </div>
            </div>
          </div>
          <button class="btn btn-sm btn-dark" (click)="toggleShowGameSelect();">Show/Hide</button>
        </div>
        <div class="" *ngIf="showGameSelect">
          <ng-container *ngFor="let game of sortedGameLineUp; let i = index">
            <div class="card border-secondary layout-list" style="max-width: 19%;" *ngIf="game.active">
              <div class="card-header d-flex justify-content-between">
                <div class="mr-2 d-flex align-self-center" style="max-height: 2.4em; max-width: 2em;">
                  <img class="card-img" [src]="game.coverArt">
                </div>
                <div class="text-truncate" style="max-height: 100px;">
                  <span class="text-wrap small">{{ game.gameName.replace('The Legend of Zelda:', 'LOZ: ') }}</span>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-block"
                        [disabled]="currentlyPlaying.index === game.gameProgressKey"
                        [ngClass]="currentlyPlaying.index === game.gameProgressKey ? 'btn-success' : 'btn-danger'"
                        (click)="onSwapGameClick(game)">
                  {{ game !== undefined && currentlyPlaying.index === game.gameProgressKey ? 'Playing' : 'Swap' }}
                </button>
              </div>
            </div>
          </ng-container>
          <div class="card border-secondary layout-list" style="max-width: 19%;">
            <div class="card-header d-flex justify-content-between">
              <h1>+</h1>
              <div class="d-flex align-self-center">
                <span class="small">Add Game</span>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-block btn-primary"
                      (click)="onOpenAddGameModalClick()">
                Add Game
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr class="hr">

      <div class="mb-5">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">
            <h3 class="text-dark pt-2 mr-3">Track Game Items</h3>
            <div class="align-self-end card border-secondary bg-warning mb-2 p-1">
              <div class="d-flex flex-row">
                <span class="small mr-2">Currently Playing:</span>
                <h6 class="m-0">{{ gameLineUp !== undefined ? gameLineUp.size !== 0 ? currentlyPlaying.index : 'No Games' : 'Fetching...' }}</h6>
              </div>
            </div>
          </div>
          <button class="btn btn-sm btn-dark" (click)="toggleShowGameTracking();">Show/Hide</button>
        </div>
        <div class="d-flex" *ngIf="showGameTracking">
          <app-game-tracking></app-game-tracking>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>

<ng-template #addGameModalDialog>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Game</h5>
      <button type="button" class="close" aria-label="Close" (click)="addGameModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center">
        <form class="w-50">

          <div class="form-group">
            <label for="tempAddGameKey">Key:</label>
            <input id="tempAddGameKey" name="tempAddGameKey" type="text"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGameKey">
          </div>

          <div class="form-group">
            <label for="active">Active:</label>
            <select id="active" name="active" class="form-control form-control-sm"
                    [(ngModel)]="tempAddGame.active">
              <option [ngValue]="true" selected="selected">true</option>
              <option [ngValue]="false">false</option>
            </select>
          </div>

          <div class="form-group">
            <label for="coverArt">Image Url:</label>
            <input id="coverArt" name="coverArt" type="text"
                   placeholder="https://image.url/image.jpg"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.coverArt">
          </div>

          <div class="form-group">
            <label for="gameEstimate">Game Estimate:</label>
            <input id="gameEstimate" name="gameEstimate" type="text"
                   placeholder="00:00:00"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.gameEstimate">
          </div>

          <div class="form-group">
            <label for="gameName">Game Name:</label>
            <input id="gameName" name="gameName" type="text"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.gameName">
          </div>

          <div class="form-group">
            <label for="gamePlatform">Game Platform:</label>
            <select id="gamePlatform" name="gamePlatform"
                    class="form-control form-control-sm"
                    [(ngModel)]="tempAddGame.gamePlatform">
              <option [ngValue]="'NES'" selected="selected">NES</option>
              <option [ngValue]="'SNES'">SNES</option>
              <option [ngValue]="'N64'">N64</option>
              <option [ngValue]="'GC'">GC</option>
              <option [ngValue]="'Wii'">Wii</option>
              <option [ngValue]="'WiiU'">WiiU</option>
              <option [ngValue]="'Switch'">Switch</option>
              <option [ngValue]="'GB'">GB</option>
              <option [ngValue]="'GBC'">GBC</option>
              <option [ngValue]="'GBA'">GBA</option>
              <option [ngValue]="'DS'">DS</option>
              <option [ngValue]="'3DS'">3DS</option>
            </select>
          </div>

          <div class="form-group">
            <label for="gameProgressKey">Game Progress Key:</label>
            <input id="gameProgressKey" name="gameProgressKey"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.gameProgressKey">
          </div>

          <div class="form-group">
            <label for="gameRelYear">Game Release Year:</label>
            <input id="gameRelYear" name="gameRelYear"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.gameRelYear">
          </div>

          <div class="form-group">
            <label for="gameType">Game Type:</label>
            <input id="gameType" name="gameType"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.gameType">
          </div>

          <div class="form-group">
            <label for="order">Order:</label>
            <input id="order" name="order" type="number"
                   class="form-control form-control-sm"
                   [(ngModel)]="tempAddGame.order">
          </div>

        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addGameModal.close('Cancel click')">Cancel</button>
      <button type="submit" class="btn btn-secondary" (click)="clearAddGame()">Clear</button>
      <button type="submit" class="btn btn-primary" (click)="submitAddGame()">Add Game</button>
    </div>
  </div>
</ng-template>

<ng-template #yesNoModalDialog>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5>
      <button type="button" class="close" aria-label="Close" (click)="yesNoModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>This will swap the currently played title on the OBS layouts and could look really shit if you swap halfway through that game...</p>
      <p>Are you sure you want to swap to the selected game?:</p>
      <div class="card border-secondary" style="max-height: 20vh; overflow: hidden;">
        <div class="d-flex">
          <img class="card-img" style="width: 33%;" [src]="swapGameKey.value.coverArt">
          <div class="card-header" style="width: 66%;">{{ swapGameKey.value.gameName }}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="yesNoModal.close('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="swapGameModalBtn()">Swap Game</button>
    </div>
  </div>
</ng-template>
