<div class="obs" style="width: 1920px; height: 1080px; max-width: 1920px; max-height: 1080px;">
  <ng-template [ngIf]="layoutString === 'standard'">
    <app-standard-side-panel></app-standard-side-panel>
    <div class="cap-card"></div>
  </ng-template>
  <ng-template [ngIf]="layoutString === 'widescreen'">
    <app-widescreen-side-panel></app-widescreen-side-panel>
  </ng-template>
  <ng-template [ngIf]="layoutString === '3ds'">
    <app-ds3-bottom-panel></app-ds3-bottom-panel>
  </ng-template>
  <ng-template [ngIf]="layoutString === 'ds-vertical'">
    <app-dsv-side-panel></app-dsv-side-panel>
  </ng-template>
  <ng-template [ngIf]="layoutString === 'gameboy'">
    <app-gameboy-side-panel></app-gameboy-side-panel>
  </ng-template>
  <app-omnibar></app-omnibar>
</div>
