<app-navbar></app-navbar>
<div class="container py-2" style="background: lightgrey;">

  <div class="">
    <div class="d-flex justify-content-between">
      <h1 class="text-dark pt-2">OBS Layouts</h1>
      <button class="btn btn-sm btn-dark" (click)="toggleShowObsLayouts();">Show/Hide</button>
    </div>
    <div class="w-100" *ngIf="showObsLayouts">
      <div class="card border-secondary layout-list">
        <div class="card-header">Standard (4:3)</div>
        <img class="card-img" src="../../../assets/img/obs-preview/standard-layout-preview.PNG">
        <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/standard">Open</a></div>
      </div>
      <div class="card border-secondary layout-list">
        <div class="card-header">Widescreen (16:9)</div>
        <img class="card-img" src="../../../assets/img/obs-preview/widescreen-layout-preview.PNG">
        <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/widescreen">Open</a></div>
      </div>
      <div class="card border-secondary layout-list">
        <div class="card-header">3DS</div>
        <img class="card-img" src="../../../assets/img/obs-preview/ds3-layout-preview.PNG">
        <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/3ds">Open</a></div>
      </div>
      <div class="card border-secondary layout-list">
        <div class="card-header">DS (Vertical)</div>
        <img class="card-img" src="../../../assets/img/obs-preview/dsv-layout-preview.PNG">
        <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/dsv">Open</a></div>
      </div>
      <div class="card border-secondary layout-list">
        <div class="card-header">DS</div>
        <img class="card-img" src="../../../assets/img/obs-preview/ds-layout-preview.PNG">
        <div class="card-footer"><a class="btn btn-block btn-primary" target="_blank" routerLink="/obs/layout/ds">Open</a></div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="mb-3">
    <div class="d-flex justify-content-between">
      <h1 class="text-dark pt-2">Timer</h1>
      <button class="btn btn-sm btn-dark" (click)="toggleShowTimer();">Show/Hide</button>
    </div>
    <div class="d-flex flex-column" *ngIf="showTimer">
      <div class="d-flex justify-content-start align-items-center mt-2">
        <div class="d-flex align-items-center m-1 w-25">
          <span class="timer-label ml-2">Time&nbsp;Played:</span>
        </div>
        <div class="d-flex justify-content-start align-items-center w-50">
          <h1 class="timer-text">{{ this.timer$ | async }}</h1>
        </div>
      </div>
      <div class="m-3">
        <button class="btn btn-success mx-1" (click)="start()">
          {{ countUpData === undefined ? 'Loading...' : countUpData[0].isStarted === true ? 'started'
                                                      : countUpData[0].hasPaused === true ? 'resume + catchup'
                                                      : countUpData[0].isStopped === true ? 'start' : '' }}
        </button>
        <button class="btn btn-warning mx-1" (click)="reset()">
          {{ countUpData === undefined ? 'Loading...' : countUpData[0].isStarted === true ? 'reset'
                                                      : countUpData[0].hasPaused === true ? 'resume + reset'
                                                      : countUpData[0].isStopped === true ? 'reset' : '' }}
        </button>
        <button class="btn btn-danger mx-1" (click)="stop()">
          {{ countUpData === undefined ? 'Loading...' : countUpData[0].isStarted === true ? 'pause'
                                                      : countUpData[0].hasPaused === true ? 'stop'
                                                      : countUpData[0].isStopped === true ? 'stopped' : '' }}
        </button>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="mb-3">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex justify-content-start">
        <h1 class="text-dark pt-2 mr-3">Runner Name</h1>
        <div class="align-self-end card border-secondary bg-warning mb-2 p-1">
          <div class="d-flex flex-row">
            <span class="small mr-2">Current Runner:</span>
            <h6 class="m-0">{{ currentRunner !== undefined ? currentRunner.runnerName + ' (Twitch: ' + currentRunner.runnerHasTwitchAccount + ')' : 'fetching...' }}</h6>
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-dark" (click)="toggleShowRunnerName();">Show/Hide</button>
    </div>
    <div class="d-flex" *ngIf="showRunnerName">

      <div class="input-group input-group-lg">

        <div class="input-group input-group-lg mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <fa-icon [icon]="faTwitch" class="pr-3"></fa-icon>
              <input style="width: 20px; height: 20px;"
                     type="checkbox"
                     title="Is this runner on twitch?" [(ngModel)]="runnerName.runnerHasTwitchAccount">
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="runnerName.runnerName">
          <div class="input-group-append">
            <button class="btn btn-primary btn-lg" (click)="updateRunner()">Change Runner</button>
          </div>
        </div>


      </div>

    </div>
  </div>

  <hr class="hr">

  <div class="mb-3">
    <div class="d-flex justify-content-between">
      <h1 class="text-dark pt-2 mr-3">Add Donation</h1>
      <button class="btn btn-sm btn-dark" (click)="toggleShowAddDonation();">Show/Hide</button>
    </div>
    <div class="d-flex justify-content-center" *ngIf="showAddDonation">
      <form class="w-50">

        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" placeholder="Name" class="form-control form-control-sm"
                 [(ngModel)]="tempTrackedDonation.name">
        </div>

        <div class="form-group">
          <label for="imgUrl">Image Url:</label>
          <input id="imgUrl" name="imgUrl" type="text" placeholder="https://image.url/image.jpg" class="form-control form-control-sm"
                 [(ngModel)]="tempTrackedDonation.imgUrl">
        </div>

        <div class="form-group">
          <label for="message">Donation Message:</label>
          <textarea id="message" name="message" placeholder="Donation Message" class="form-control form-control-sm"
                    [(ngModel)]="tempTrackedDonation.message"></textarea>
        </div>

        <div class="form-group">
          <label for="currency">Currency:</label>
          <select id="currency" name="currency" class="form-control form-control-sm"
                  [(ngModel)]="tempTrackedDonation.currency">
            <option [ngValue]="'GBP'" selected="selected">GBP</option>
            <option [ngValue]="'EUR'">EUR</option>
            <option [ngValue]="'USD'">USD</option>
          </select>
        </div>

        <div class="form-group">
          <label for="donationAmount">Donation Amount:</label>
          <input id="donationAmount" name="donationAmount" type="number" value="0.00" class="form-control form-control-sm"
                 [(ngModel)]="tempTrackedDonation.donationAmount">
        </div>

        <div class="form-group">
          <label for="giftAidAmount">GiftAid Amount:</label>
          <input id="giftAidAmount" name="giftAidAmount" type="number" value="0.00" class="form-control form-control-sm"
                 [(ngModel)]="tempTrackedDonation.giftAidAmount">
        </div>

        <div class="form-group">
          <label for="donationSource">Donation Source:</label>
          <select id="donationSource" name="donationSource" class="form-control form-control-sm"
                  [(ngModel)]="tempTrackedDonation.donationSource">
            <option [ngValue]="'Facebook'" selected="selected">Facebook</option>
            <option [ngValue]="'JustGiving'">JustGiving</option>
          </select>
        </div>

        <div class="form-group">
          <label for="donationDate">Date:</label>
          <input id="donationDate" name="donationDate" type="date" class="form-control form-control-sm"
                 [(ngModel)]="donationDate">
        </div>

        <div class="form-group">
          <label for="donationTime">Time:</label>
          <input id="donationTime" name="donationTime" type="time" class="form-control form-control-sm"
                 [(ngModel)]="donationTime">
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mb-2 mr-2 w-75" (click)="submitTrackedDonation()">Add Donation</button>
          <button type="submit" class="btn btn-secondary mb-2 w-25" (click)="clearTrackedDonation()">Clear</button>
        </div>

      </form>
    </div>
  </div>

  <hr class="hr">

  <div class="mb-3">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <h1 class="text-dark pt-2 mr-3">Select Game</h1>
        <div class="align-self-end card border-secondary bg-warning mb-2 p-1">
          <div class="d-flex flex-row">
            <span class="small mr-2">Currently Playing:</span>
            <h6 class="m-0">{{ gameLineUp !== undefined ? currentlyPlaying.index : 'fetching...' }}</h6>
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-dark" (click)="toggleShowGameSelect();">Show/Hide</button>
    </div>
    <div class="d-flex" *ngIf="showGameSelect">
      <ng-container *ngFor="let game of gameLineUp | keyvalue">
        <div class="card border-secondary layout-list" style="max-width: 110px;" *ngIf="game.value.active">
          <div class="card-header small">{{ game.value.gameName }}</div>
          <img class="card-img" style="max-height: 110px; max-width: 110px;" [src]="game.value.coverArt">
          <div class="card-footer">
            <button class="btn btn-sm btn-block"
                    [disabled]="currentlyPlaying.index === game.key"
                    [ngClass]="currentlyPlaying.index === game.key ? 'btn-success' : 'btn-danger'"
                    (click)="onSwapGameClick(game)">
              {{ game.value !== undefined && currentlyPlaying.index === game.key ? 'Playing' : 'Swap' }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <hr class="hr">

  <div class="mb-5">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <h1 class="text-dark pt-2 mr-3">Track Game Items</h1>
        <div class="align-self-end card border-secondary bg-warning mb-2 p-1">
          <div class="d-flex flex-row">
            <span class="small mr-2">Currently Playing:</span>
            <h6 class="m-0">{{ gameLineUp !== undefined ? gameLineUp.size !== 0 ? currentlyPlaying.index : 'No Games' : 'Fetching...' }}</h6>
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-dark" (click)="toggleShowGameTracking();">Show/Hide</button>
    </div>
    <div class="d-flex" *ngIf="showGameTracking">
      <app-game-tracking></app-game-tracking>
    </div>
  </div>

</div>
<app-footer></app-footer>

<ng-template #yesNoModalDialog>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5>
      <button type="button" class="close" aria-label="Close" (click)="yesNoModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>This will swap the currently played title on the OBS layouts and could look really shit if you swap halfway through that game...</p>
      <p>Are you sure you want to swap to the selected game?:</p>
      <div class="card border-secondary" style="max-height: 20vh; overflow: hidden;">
        <div class="d-flex">
          <img class="card-img" style="width: 33%;" [src]="swapGameKey.value.coverArt">
          <div class="card-header" style="width: 66%;">{{ swapGameKey.value.gameName }}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="yesNoModal.close('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="swapModalBtn()">Swap Game</button>
    </div>
  </div>
</ng-template>
