**/__pycache__/
__pycache__
*.py[cod]
**/venv/
**/.venv/
.venv
venv
.env
.env.local
.git
**/.pytest_cache/
.pytest_cache
**/.mypy_cache/
.mypy_cache
**/.ruff_cache/
.ruff_cache
*.sqlite3
**/staticfiles/
staticfiles
**/mediafiles/
mediafiles