.side-panel {
  border-right: 2px solid #50529a;
  height:1024px;
  width:479px;
  max-height:1024px;
  max-width:479px;
}

.gameplay-panel {
  background-color: #28a745;
  height:809px;
  width:1442px;
  max-height:809px;
  max-width:1442px;
  z-index: -1;
}

.camera-panel {
  background-color: #28a745;
  height:530px;
  width:479px;
  max-height:530px;
  max-width:479px;
  z-index: -1;
}

.adv-panel {
  border-top: 2px solid #50529a;
  height:550px;
  width:479px;
  max-height:550px;
  max-width:479px;
}

.bottom-panel {
  border-top: 2px solid #50529a;
  height:215px;
  width:1442px;
  max-height:215px;
  max-width:1442px;
}

.name-timer-panel {
  border-right: 2px solid #50529a;
  height:215px;
  width:691px;
  max-height:215px;
  max-width:691px;
}
.name-timer-panel::after {
  content: "";
  display: block;
  position: relative;
  height:215px;
  width:691px;
  background: linear-gradient(-90deg,
    rgba(80,82,154, 0.35),
    rgba(148,64,132, 0.65)
  ),
  url("../../../../assets/img/GB19_Background_withLOGO.png");
  background-size: cover;
  background-position: bottom;
  opacity: 0.5;
  top: -185px;
  left: 0;
  z-index: -1;
}

.game-desc-panel {
  height:215px;
  width:750px;
  max-height:215px;
  max-width:750px;
}
