<div class="d-flex">
  <div class="d-flex flex-column-reverse side-panel">

    <div class="adv-panel">
      Ad Panel
    </div>
    <div class="camera-panel">
      Camera Panel
    </div>

  </div>
  <div class="d-flex flex-column-reverse">

    <div class="d-flex bottom-panel">
      <div class="name-timer-panel">
        Names + Timer
      </div>
      <div class="game-desc-panel">
        Game Desc
      </div>
    </div>

    <div class="gameplay-panel">
      Gameplay
    </div>

  </div>
</div>
