.side-panel {
  border-right: 2px solid rgb(9, 98, 224);
  height:1024px;
  width:479px;
  max-height:1024px;
  max-width:479px;
}

.gameplay-panel {
  background-color: #28a745;
  height:809px;
  width:1442px;
  max-height:809px;
  max-width:1442px;
  z-index: -1;
}

.camera-panel {
  background-color: #28a745;
  height:530px;
  width:479px;
  max-height:530px;
  max-width:479px;
  z-index: -1;
}

.adv-panel {
  border-top: 1px solid rgb(9, 98, 224);
  height:550px;
  width:479px;
  max-height:550px;
  max-width:479px;
}

.bottom-panel {
  border-top: 2px solid rgb(9, 98, 224);
  height:215px;
  width:1442px;
  max-height:215px;
  max-width:1442px;
}

.name-timer-panel-container {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  box-shadow: 0 0 80px 80px rgba(0,0,0,0.4) inset;
  opacity: 1;
  margin-top: 8px;
  margin-left: 8px;
}

.name-timer-panel {
  border-right: 2px solid rgb(9, 98, 224);
  height:215px;
  width:691px;
  max-height:215px;
  max-width:691px;
  background: linear-gradient(-80deg, rgba(9, 98, 224, 0.65), rgba(116, 158, 253, 0.65)), url("../../../../assets/img/obs-bg/tumblr_nkilh6Fbl41r85hlio1_500.gif");
  background-size: cover;
  background-position: bottom;
}
.name-timer-panel::after {
  content: "";
  display: block;
  position: relative;
  height:215px;
  width:691px;
  opacity: 1;
  top: -184px;
  left: 0;
  z-index: -1;
}

.game-desc-panel {
  height:215px;
  width:750px;
  max-height:215px;
  max-width:750px;
}
