<div class="d-flex">
  <div class="d-flex flex-column-reverse side-panel">

    <div class="adv-panel">
      <app-wsp-ad-panel></app-wsp-ad-panel>
    </div>
    <div class="camera-panel">
      <app-wsp-camera></app-wsp-camera>
    </div>

  </div>
  <div class="d-flex flex-column-reverse">

    <div class="d-flex bottom-panel">
      <div class="name-timer-panel">
        <app-wsp-runner-name></app-wsp-runner-name>
        <app-wsp-timer></app-wsp-timer>
      </div>
      <div class="game-desc-panel">
        <app-wsp-game-description></app-wsp-game-description>
      </div>
    </div>

    <div class="gameplay-panel">
      Gameplay
    </div>

  </div>
</div>
