.call-to-action-purple {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: mediumpurple; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-blue {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: rgb(59, 148, 224); /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-red {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: rgba(255, 13, 27, 0.7); /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-white {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-orange {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: darkorange; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-gold {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: darkgoldenrod; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}


.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s 1 normal both;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s 1 normal both;
}
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-out-left {
  -webkit-animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}
/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}


.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

