<div class="container-fluid">
  <div class="d-block green p-5">
    <div class="d-flex flex-column justify-content-center flex-fill">
      <div class="cntdwn my-0 py-0" style="font-size: 5em; line-height: 1em; font-family: 'Bungee', cursive;">
        <span *ngIf="!finished">Stream Starts In:</span>
        <span *ngIf="finished">It&apos;s Time!</span>
      </div>
      <div class="cntdwn my-0 py-0" [ngClass]="finished ? 'blink-me' : ''" style="font-size: 14em; line-height: 1em; font-family: 'Bungee', cursive;">
        <countdown [config]="cdConfig"
                   (start)="onStart()"
                   (finished)="onFinished()"
                   (notify)="onNotify($event)">
          $!h!:$!m!:$!s!
        </countdown>
      </div>
    </div>
  </div>
</div>
