<div class="container-fluid">
  <div class="d-block green p-5">
    <div class="d-flex flex-column justify-content-center flex-fill">
      <div class="cntdwn my-0 py-0" style="font-size: 14em; line-height: 1em; font-family: 'Bungee', cursive;">
        {{ getTimer() }}
      </div>
    </div>
  </div>
  <div class="m-3">
    <button class="btn btn-success mx-1" [disabled]="this.started" (click)="start()">start</button>
    <button class="btn btn-warning mx-1" (click)="reset()">reset</button>
    <button class="btn btn-danger mx-1" [disabled]="!this.started" (click)="stop()">{{ subscription !== undefined && this.started && subscription.closed ? 'confirm' : 'stop' }}</button>
  </div>
</div>
