<ng-template [ngIf]="(fundraisingPageDonations | async).donations.length >= 1">

  <div class="d-inline-block">
    <div class="d-flex justify-content-center up-next-div">
      <div class="align-self-center up-next">LAST 10 DONORS</div>
      <div class="up-next-div-triangle"></div>
    </div>
  </div>

  <div class="donation-container">
    <div class="donation mr-2" *ngFor="let donor of (fundraisingPageDonations | async)?.donations.slice(-10)">
      <div class="d-flex justify-content-around text-white h-100 p-1">
        <div class="align-self-center h6 m-0">{{ donor.donorDisplayName }}</div>
        <div class="align-self-center h3 m-0">{{ donor.donorLocalAmount | currency:donor.donorLocalCurrencyCode }}</div>
      </div>
    </div>
  </div>

</ng-template>
<ng-template [ngIf]="(fundraisingPageDonations | async)?.donations.length === 0">
  <div>
    No donors yet! Please consider starting us off!
  </div>
</ng-template>
