<ng-container *ngIf="(trackedDonationArray$ | async)">

  <ng-template [ngIf]="lastTenDonations.length >= 1">
    <div class="d-flex justify-content-between">

      <div id="last-donors-text">
        <div class="d-flex justify-content-start" [ngClass]="slideIn ? 'slide-in-left' : 'slide-out-left'">
          <div class="d-flex align-self-center up-next-div-bm">
            <span class="d-flex justify-content-between align-self-center up-next-bm">LAST {{ lastTenDonations.length >= 10 ? '10 DONORS' :
                                       lastTenDonations.length == 1 ? 'DONOR' :
                                           lastTenDonations.length + ' DONORS' }}</span>
          </div>
          <div class="up-next-div-triangle-bm"></div>
        </div>
      </div>

      <div id="donations" class="flex-grow-1">
        <div class="donation-container mx-2">
          <div class="donation-bm" [@showDonation]=currentState>
            <div class="h-100 p-1">
              <div class="d-flex justify-content-between flex-fill" style="max-height: 38px;">
                <div class="d-flex align-self-center" style="max-width: 10%;">
                  <img class="position-relative" style="max-height: 56px;"
                       src="../../../../../assets/img/obs-bg/tingle-kaloo-limpah.gif" alt="tingle">
                </div>
                <div class="d-flex flex-column donation-text-container">
                  <div class="d-flex justify-content-between" style="max-height: 28px;">
                    <div class="" style="max-width: 500px;">
                      <h1 class="donation-text text-truncate mb-0">{{ highlightedDonation?.name }}</h1>
                    </div>
                    <div class="mx-2">
                      <h1 class="donation-text mb-0">{{ highlightedDonation?.donationAmount | currency:highlightedDonation?.currency }}</h1>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between" style="height: 14px; max-height: 14px;">
                    <div class="text-truncate" style="max-width: 500px;">
                      <span class="time-ago" *ngIf="highlightedDonation">{{ highlightedDonation?.message.length >= 1 ? highlightedDonation.message : 'Thank You!' }}</span>
                    </div>
                    <div class="mx-2">
                      <span class="time-ago" *ngIf="highlightedDonation">{{ timeAgo.format(highlightedDonation.donationDate.toDate()) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template [ngIf]="lastTenDonations.length === 0">
    <div class="d-flex justify-content-between">

      <div id="no-donors-text">
        <div class="d-flex justify-content-start" [ngClass]="slideIn ? 'slide-in-left' : 'slide-out-left'">
          <div class="d-flex align-self-center up-next-div">
            <span class="d-flex justify-content-between align-self-center up-next">LAST DONORS</span>
          </div>
          <div class="up-next-div-triangle"></div>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-fill">
        <div class="d-flex align-items-center" [ngClass]="slideIn ? 'fade-in' : 'fade-out'">
          <div class="h1 call-to-action-white me-3 mb-0">
            No donors yet!
          </div>
          <div class="h1 call-to-action-gold me-3 mb-0">
            zeldathon.co.uk/donate
          </div>
        </div>
      </div>

    </div>
  </ng-template>

</ng-container>
