.timer-outer {
  height: 67px;
  min-height: 67px;
}

.timer-inner {
  height: 100%;
  width: 90%;
  background: -webkit-linear-gradient(0deg, darkred 10%, #cc111b 40%, rgba(255, 13, 27, 0.7) 65%, transparent);
}

.timer-text {
  background: rgb(225, 225, 225);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.035em black;
  font-size: 3em;
  font-family: 'Bungee', cursive;
  color: transparent;
  margin-bottom: 0;
}

.timer-label {
  color: #f5f5f5;
  -webkit-text-stroke: 0 transparent;
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
