<div class="side-panel spt">
  <div class="d-flex spt-game" style="height:175px; max-height:175px;">

    <div class="spt-game-img-container">
      <img class="spt-game-img"
           [ngStyle]="{ 'top.px': pos }"
           [src]="gameDesc.coverArt">
    </div>

    <div class="d-flex justify-content-center align-items-center spt-game-text">
      <h1 class="text-center" style="width: 90%; overflow-wrap: break-word;">
        {{ gameDesc.gameName | uppercase }}
      </h1>
    </div>

  </div>
  <div class="d-flex justify-content-start spt-type"
       style="height:30px; max-height:30px; margin: 0; margin-top: -15px;">

    <div class="d-flex justify-content-center align-items-center spt-type-text"
         style="height:30px; width: 90%;">
      {{ gameDesc.gameType }}
    </div>

  </div>
  <div class="d-flex justify-content-center align-items-center spt-platform"
       style="height:85px; max-height:85px; margin-top: -20px;">

    <div class="d-flex justify-content-center text-center spt-platform-bg"></div>
    <div class="d-flex justify-content-center text-center spt-platform-content"
         style="height:30px; width: 90%;">
      <div style="width: 33%;">
        <div class="spt-platform-text br-l p-1">
          {{ gameDesc.gamePlatform }}
        </div>
        <div class="small">
          Platform
        </div>
      </div>
      <div style="width: 33%;">
        <div class="spt-platform-text align-items-center br-m mx-1 p-1">
          {{ gameDesc.gameRelYear }}
        </div>
        <div class="small">
          Release Year
        </div>
      </div>
      <div style="width: 33%;">
        <div class="spt-platform-text br-r p-1">
          {{ gameDesc.gameEstimate }}
        </div>
        <div class="small">
          Estimate
        </div>
      </div>
    </div>

  </div>
</div>
