<div class="">

  <ng-container *ngIf="(currentlyPlayingId$ | async) && (gameLineUp$ | async)">
    <ng-template ngFor let-tempGameItemId [ngForOf]="(gameItemsId$ | async)">
      <ng-container *ngIf="tempGameItemId.id === gameLineUp[currentlyPlayingId.index].gameProgressKey">

        <ngx-masonry [options]="{ gutter: 10, percentPosition: true }" [ordered]="true">
          <ng-template ngFor let-gameItem [ngForOf]="tempGameItemId.items">
            <div ngxMasonryItem style="width: 4.25%;" class="card mt-2">
              <div class="card-header text-truncate p-1" style="font-size: 8px;">
                {{ gameItem.name }}
              </div>
              <div class="d-flex justify-content-center card-body p-1">
                <img class="align-self-center card-img"
                     style="height: 2em; width: 2em;"
                     [src]="gameItem.imgUrl"
                     [alt]="gameItem.name"
                     [title]="gameItem.name"
                     [ngClass]="gameItem.collected ? '' : 'img-greyscale'"
                     (click)="collectItem(gameItem, tempGameItemId.items)">
              </div>
            </div>
          </ng-template>
          <div ngxMasonryItem style="width: 4.25%;" class="card mt-2">
            <div class="card-header text-truncate p-1" style="font-size: 8px;">
              Reset
            </div>
            <div class="d-flex justify-content-center card-body p-1">
              <button class="btn btn-danger p-1" style="font-size: 8px;" (click)="resetItemCollection(tempGameItemId.items)">
                Reset
              </button>
            </div>
          </div>
        </ngx-masonry>

      </ng-container>
    </ng-template>
  </ng-container>

  <button class="btn btn-primary mt-4" hidden (click)="addData()">Add Data</button>

</div>
