.table-gold,
.table-gold > th,
.table-gold > td {
  background-color: #C5B358;
}

.table-gold th,
.table-gold td,
.table-gold thead th,
.table-gold tbody + tbody {
  border-color: #C5B358;
}

.table-hover .table-gold:hover {
  background-color: #D4AF37;
}

.table-hover .table-gold:hover > td,
.table-hover .table-gold:hover > th {
  background-color: #D4AF37;
}


.table-played,
.table-played > th,
.table-played > td {
  background-color: #15202b;
}

.table-played:nth-child(even) td {
  background-color: #192734;
}

.table-played th,
.table-played td,
.table-played thead th,
.table-played tbody + tbody {
  border-color: #15202b;
}

.table-hover .table-played:hover {
  background-color: #22303c;
}

.table-hover .table-played:hover > td,
.table-hover .table-played:hover > th {
  background-color: #22303c;
}


.live-circle {
  animation: pulse 2s infinite;
  background-color: rgba(220, 20, 53, 1);
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(220, 20, 53, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(220, 20, 53, 0);
  }
  100% {
    transform: scale(0.8);
  }
}


.btn-justgiving {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:hover {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:focus, .btn-justgiving.focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-justgiving.disabled, .btn-justgiving:disabled {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:not(:disabled):not(.disabled):active, .btn-justgiving:not(:disabled):not(.disabled).active,
.show > .btn-justgiving.dropdown-toggle {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:not(:disabled):not(.disabled):active:focus, .btn-justgiving:not(:disabled):not(.disabled).active:focus,
.show > .btn-justgiving.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}






.btnfacebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:focus, .btnfacebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btnfacebook.disabled, .btnfacebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:not(:disabled):not(.disabled):active, .btnfacebook:not(:disabled):not(.disabled).active,
.show > .btnfacebook.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:not(:disabled):not(.disabled):active:focus, .btnfacebook:not(:disabled):not(.disabled).active:focus,
.show > .btnfacebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}
