<div class="container p-3" style="background-color: #606060;">

  <div class="py-2">
    <h3 class="text-white">Stream Schedule</h3>
    <h6 class="text-white-50">
      Check the line up below to see what time your favourite zelda games are likely to be played.
    </h6>
  </div>

  <div class="text-center card card-header">
    <div class="d-inline">
      <button class="btn btn-sm btnfacebook mr-3" (click)="donateFacebook();">
        Donate via Facebook
      </button>
      <button class="btn btn-sm btn-justgiving" (click)="donateJustGiving();">
        Donate via JustGiving
      </button>
    </div>
  </div>

  <h2 class="text-white my-3">Line up</h2>
  <div class="d-flex my-1">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Start Time</th>
          <th scope="col">Game</th>
          <th scope="col">Player</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Thurs 20th Feb 2020</td>
          <td>13:00pm</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <img src="../../../assets/img/cover-art/Zelda_TheWindWakerHD.jpg" alt="The Legend of Zelda: The Wind Waker HD Cover Art" style="max-width: 90px;">
                <span class="badge badge-info mt-2">Any%</span>
              </div>
              <div class="flex-fill text-center">
                <span>The Legend of Zelda: The Wind Waker HD (2013)</span> <span class="badge badge-primary ml-2">20 hours</span>
              </div>
            </div>
          </td>
          <td>
            <a href="https://www.twitch.tv/msec" target="_blank"><span class="badge badge-light p-2" style="font-size: 1.15em;">MSec</span></a>
          </td>
        </tr>
        <tr>
          <td>Friday 21st Feb 2020</td>
          <td>09:00am</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <img src="../../../assets/img/cover-art/ss_cover.jpg" alt="The Legend of Zelda: Skyward Sword Cover Art" style="max-width: 90px;">
                <span class="badge badge-info mt-2">Any%</span>
              </div>
              <div class="flex-fill text-center">
                <span>The Legend of Zelda: Skyward Sword (2011)</span> <span class="badge badge-primary ml-2">24 hours</span>
              </div>
            </div>
          </td>
          <td>
            <a href="https://www.twitch.tv/msec" target="_blank"><span class="badge badge-light p-2" style="font-size: 1.15em;">MSec</span></a> &amp;<br>
            <a href="#"><span class="badge badge-light p-2 mt-2" style="font-size: 1.15em;">Henry</span></a>
          </td>
        </tr>
        <tr>
          <td>Saturday 22nd Feb 2020</td>
          <td>05:00am</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <img src="../../../assets/img/cover-art/66255_The_Legend_of_Zelda_Links_Awakening_(2019).jpg" alt="The Legend of Zelda: Links Awakening Cover Art" style="max-width: 90px;">
                <span class="badge badge-info mt-2">Any%</span>
              </div>
              <div class="flex-fill text-center">
                <span>The Legend of Zelda: Link's Awakening (2019)</span> <span class="badge badge-primary ml-2">14 hours</span>
              </div>
            </div>
          </td>
          <td>
            <a href="https://www.twitch.tv/msec" target="_blank"><span class="badge badge-light p-2" style="font-size: 1.15em;">MSec</span></a> &amp;<br>
            <a href="#"><span class="badge badge-light p-2 mt-2" style="font-size: 1.15em;">Deano</span></a>
          </td>
        </tr>
        <tr>
          <td>Saturday 22nd Feb 2020</td>
          <td>19:00pm</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <img src="../../../assets/img/cover-art/250px-ZeldaOoTbox.png" alt="The Legend of Zelda: Links Awakening Cover Art" style="max-width: 90px;">
                <span class="badge badge-danger mt-2">RANDOMIZER</span>
              </div>
              <div class="flex-fill text-center">
                <span>The Legend of Zelda: Ocarina of Time (1998)</span> <span class="badge badge-primary ml-2">8 hours</span>
              </div>
            </div>
          </td>
          <td>
            <a href="https://www.twitch.tv/msec" target="_blank"><span class="badge badge-light p-2" style="font-size: 1.15em;">MSec</span></a> &amp;<br>
            <a href="https://www.twitch.tv/thedonovanviper" target="_blank"><span class="badge badge-light p-2 mt-2" style="font-size: 1.15em;">TheDonovanViper</span></a>
          </td>
        </tr>
        <tr>
          <td>Sunday 23rd Feb 2020</td>
          <td>03:00am</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <img src="../../../assets/img/cover-art/250px-Zelda_SNES.jpg" alt="The Legend of Zelda: A Link to the Past Cover Art" style="max-width: 90px;">
                <span class="badge badge-info mt-2">Any%</span>
              </div>
              <div class="flex-fill text-center">
                <span>The Legend of Zelda: A Link to the Past (1992)</span> <span class="badge badge-primary ml-2">15 hours</span>
              </div>
            </div>
          </td>
          <td>
            <a href="#"><span class="badge badge-light p-2" style="font-size: 1.15em;">Deano</span></a> &amp;<br>
            <a href="https://www.twitch.tv/msec" target="_blank"><span class="badge badge-light p-2 mt-2" style="font-size: 1.15em;">MSec</span></a>
          </td>
        </tr>
        <tr>
          <td>Sunday 23rd Feb 2020</td>
          <td>18:00pm</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <img src="../../../assets/img/cover-art/38019_The_Legend_of_Zelda_Breath_of_the_Wild.jpg" alt="The Legend of Zelda: Breath of the Wild Cover Art" style="max-width: 90px;">
                <span class="badge badge-danger mt-2">BOSS RUSH</span>
              </div>
              <div class="flex-fill text-center">
                <span>The Legend of Zelda: Breath of the Wild (2017)</span> <span class="badge badge-primary ml-2">5 hours</span>
              </div>
            </div>
          </td>
          <td>
            <a href="https://www.twitch.tv/msec" target="_blank"><span class="badge badge-light p-2" style="font-size: 1.15em;">MSec</span></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
