.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.text-bloodmoon {
  background: linear-gradient(45deg, #E71347, #DA4471, #E7364B, #DA4471, #E71347);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
}
