<div class="side-panel spt">
  <div class="d-flex flex-column spt-game-panel-container">

    <div class="spt-game-img-container">
      <img class="spt-game-img"
           alt="Cover Art"
           [ngStyle]="{ 'top.px': pos }"
           [src]="zeldaGame.gameDetail.boxArt">
    </div>

    <div class="spt-game p-2">

      <div class="spt-game-panel">

        <div class="d-flex justify-content-center spt-game-text">
          <div class="d-flex flex-column">
            <h1 class="d-flex align-self-center text-center mb-0" style="overflow-wrap: break-word;">
              {{ zeldaGame.gameDetail.title.split(':')[0] + ':' | uppercase }}
            </h1>
            <h1 class="d-flex align-self-center text-center" style="overflow-wrap: break-word;">
              {{ zeldaGame.gameDetail.title.split(':')[1] | uppercase }}
            </h1>
          </div>
        </div>

        <div class="spt-type">
          <div class="spt-type-text text-center"
               style="width: 100%;">
            {{ zeldaGame.category }}
          </div>
        </div>

        <div class="d-flex justify-content-center spt-platform mt-2">

          <div class="d-flex justify-content-center text-center spt-platform-content"
               style="height:30px; width: 90%;">
            <div style="width: 33%;">
              <div class="spt-platform-text br-l p-1">
                {{ zeldaGame.gameDetail.detail.platforms }}
              </div>
              <div class="small text-shadow-black">
                Platform
              </div>
            </div>
            <div style="width: 33%;">
              <div class="spt-platform-text align-items-center br-m mx-1 p-1">
                {{ zeldaGame.gameDetail.detail.releases.EU }}
              </div>
              <div class="small text-shadow-black">
                Release Year
              </div>
            </div>
            <div style="width: 33%;">
              <div class="spt-platform-text br-r p-1">
                {{ zeldaGame.gameDetail.titleGameTimes }}
              </div>
              <div class="small text-shadow-black">
                Estimate
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
