<div #youtubeEmbed id="player" class="d-flex justify-content-center"></div>
<div class="position-absolute sticky-top">
<div class="d-flex justify-content-center audio-viz-bg">

  <div class="d-flex align-items-center">

    <div class="d-flex flex-column">

      <div class="d-flex justify-content-center w-100">
        <div class="d-flex justify-content-around w-75">
          <img src="./assets/img/Zeldathon-Logo.png" class="zeldathon-logo d-inline-block w-50" style="opacity: 0.65;">
          <div class="d-flex justify-content-around w-25">
            <div class="d-inline-block w-50 mr-5">
              <h6 class="font-italic text-white-50">Benefitting:</h6>
              <img src="./assets/img/specialeffect-logo.svg" class="" style="min-height: 80px; min-width: 200px; opacity: 0.65;">
            </div>
            <img src="./assets/img/GB21_logo_for_website.png" class="d-inline-block w-50" style="max-height: 50px; margin-top: 34px; opacity: 0.65;">
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center vw-100">
        <canvas #canvasBeatLeft id="canvasBeatLeft" class="audio-viz-beat"></canvas>
        <canvas #canvas id="canvas" class="audio-viz-container" (click)="onCanvasClick()"></canvas>
        <canvas #canvasBeatRight id="canvasBeatRight" class="audio-viz-beat"></canvas>
      </div>

      <div class="time-remaining text-center w-100">
        <h5 class="text-white-50">Stream Starting In:</h5>

        <ng-container *ngIf="timeRemaining.days >= 1; else hoursRemaining">
          <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.days, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 mr-4">d</h2>
          <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.hours, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 mr-4">h</h2>
          <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.minutes, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 mr-4">m</h2>
          <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.seconds, 2) }}</h1><h2 class="d-inline-block time-remaining-h2">s</h2>
        </ng-container>
        <ng-template #hoursRemaining>
          <ng-container *ngIf="timeRemaining.hours >= 1; else minutesRemaining">
            <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.hours, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 mr-4">h</h2>
            <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.minutes, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 mr-4">m</h2>
            <h1 class="d-inline-block text-white time-remaining-h1">{{ zeroPad(timeRemaining.seconds, 2) }}</h1><h2 class="d-inline-block time-remaining-h2">s</h2>
          </ng-container>
          <ng-template #minutesRemaining>
            <ng-container *ngIf="timeRemaining.minutes >= 1; else secondsRemaining">
              <h1 class="d-inline-block text-warning time-remaining-h1">{{ zeroPad(timeRemaining.minutes, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 text-warning mr-4">m</h2>
              <h1 class="d-inline-block text-warning time-remaining-h1">{{ zeroPad(timeRemaining.seconds, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 text-warning" style="opacity: 0.5;">s</h2>
            </ng-container>
            <ng-template #secondsRemaining>
              <ng-container *ngIf="timeRemaining.seconds >= 1; else timesUp">
                <h1 class="d-inline-block text-danger time-remaining-h1">{{ zeroPad(timeRemaining.seconds, 2) }}</h1><h2 class="d-inline-block time-remaining-h2 text-danger" style="opacity: 0.5;">s</h2>
              </ng-container>
              <ng-template #timesUp>
                <h1 class="d-inline-block text-white time-remaining-h1">WAKE UP LINK!</h1>
              </ng-template>
            </ng-template>
          </ng-template>
        </ng-template>

      </div>

      <div class="d-flex justify-content-center mt-5 vw-100">
        <div class="d-flex justify-content-between w-75">
          <div class="d-flex flex-column align-self-center w-25">
            <h6 class="font-italic text-white-50">Help us raise money for disabled gamers!</h6>
            <h6 class="font-italic text-white-50 mb-0" style="opacity: 0.6;">Please consider making a donation:</h6>
            <span class="donate-link">https://www.zeldathon.co.uk/donate</span>
          </div>
          <div class="d-flex flex-column" (click)="playRandomSong()">
            <marquee behavior="scroll" direction="left">
              <h3 class="font-italic text-white-50 song-name mb-1">{{ audioLibrary[playingLibraryIndex].songName }}</h3>
            </marquee>
            <h5 class="font-italic text-white-50 text-right">{{ audioLibrary[playingLibraryIndex].songAuthor }}</h5>
          </div>
        </div>
      </div>

      <div class="hide" #audioElement></div>

    </div>

  </div>

</div>
</div>
