.audio-viz-video-bg {
  height: 100vh;
  width: 100vw;
}

.audio-viz-bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.audio-viz-container {
  max-height: 50vh;
  width: 50vw;
}

.audio-viz-beat {
  max-height: 50vh;
  width: 25vw;
  margin-top: 90px;
}

.time-remaining {
  position: absolute;
  top: calc(50vh - ((300px) * 0.388));
}

.time-remaining-h1 {
  font-size: 200px;
  font-family: 'VT323', monospace;
  font-weight: lighter;
}

.time-remaining-h2 {
  font-size: 160px;
  font-family: 'VT323', monospace;
  font-weight: lighter;
}
