ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 1em;
}


.fees-corner {
  display: inline-block;
  position: absolute;
  transform: translateX(-7%) translateY(61%) rotate(-25deg) ;
}

.fees-corner-text {
  display: inline-block;
  position: relative;
  font-size: 11px;
  color: whitesmoke;
  background-color: deeppink;
  padding-left: 16px;
  padding-right: 16px;
}

.fees-corner::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  border-style: solid;
  border-width: 0 0 16px 8px;
  border-color: transparent transparent deeppink transparent;
}

.fees-corner::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  border-style: solid;
  border-width: 16px 0 0 36px;
  border-color: transparent transparent transparent deeppink;
}



.btnfacebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:hover {
  color: #fff;
  background-color: #5865A5;
  border-color: #5169A8;
}

.btnfacebook:focus,
.btnfacebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btnfacebook.disabled,
.btnfacebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btnfacebook:not(:disabled):not(.disabled):active,
.btnfacebook:not(:disabled):not(.disabled).active,
.show > .btnfacebook.dropdown-toggle {
  color: #fff;
  background-color: #385595;
  border-color: #3b5998;
}

.btnfacebook:not(:disabled):not(.disabled):active:focus,
.btnfacebook:not(:disabled):not(.disabled).active:focus,
.show > .btnfacebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}




.btn-justgiving {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:hover {
  color: #fff;
  background-color: #B030C0;
  border-color: #B030C0;
  filter: opacity(85%);
}

.btn-justgiving:focus,
.btn-justgiving.focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-justgiving.disabled,
.btn-justgiving:disabled {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:not(:disabled):not(.disabled):active,
.btn-justgiving:not(:disabled):not(.disabled).active,
.show > .btn-justgiving.dropdown-toggle {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:not(:disabled):not(.disabled):active:focus,
.btn-justgiving:not(:disabled):not(.disabled).active:focus,
.show > .btn-justgiving.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}







.btn-specialeffect {
  color: #fff;
  background: radial-gradient(at top left, #1f3e7e 0%, #1f3e7e 60%, rgba(0, 12, 36, 0.5) 100%) no-repeat top center #1f3e7e;
  border-color: #101c34;
}

.btn-specialeffect:hover {
  color: #fff;
  background: radial-gradient(at top left, rgba(31, 62, 126, 0.5) 0%, rgba(31, 62, 126, 0.5) 60%, rgba(0, 12, 36, 0.5) 100%) no-repeat top center #385595;
  border-color: #101c34;
}

.btn-specialeffect:focus,
.btn-specialeffect.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 12, 36, 0.25);
}

.btn-specialeffect.disabled,
.btn-specialeffect:disabled {
  color: #fff;
  background: radial-gradient(at top left, #1f3e7e 0%, #1f3e7e 60%, rgba(0, 12, 36, 0.5) 100%) no-repeat top center #1f3e7e;
  border-color: #101c34;
}

.btn-specialeffect:not(:disabled):not(.disabled):active,
.btn-specialeffect:not(:disabled):not(.disabled).active,
.show > .btn-specialeffect.dropdown-toggle {
  color: #fff;
  background: radial-gradient(at top left, #1f3e7e 0%, #1f3e7e 60%, rgba(0, 12, 36, 0.5) 100%) no-repeat top center #1f3e7e;
  border-color: #101c34;
}

.btn-specialeffect:not(:disabled):not(.disabled):active:focus,
.btn-specialeffect:not(:disabled):not(.disabled).active:focus,
.show > .btn-specialeffect.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 12, 36, 0.25);
}






.btn-gameblast {
  color: #fff;
  background: url('../../../assets/img/GB_Background_nologo.png') no-repeat top center #f58220;
  border-color: #f58220;
}

.btn-gameblast:hover {
  color: #fff;
  background: url('../../../assets/img/GB_Background_nologo.png') no-repeat top center #f58220;
  border-color: #f58220;
  filter: opacity(80%);
}

.btn-gameblast:focus,
.btn-gameblast.focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 130, 32, 0.5);
}

.btn-gameblast.disabled,
.btn-gameblast:disabled {
  color: #fff;
  background: url('../../../assets/img/GB_Background_nologo.png') no-repeat top center #f58220;
  border-color: #f58220;
}

.btn-gameblast:not(:disabled):not(.disabled):active,
.btn-gameblast:not(:disabled):not(.disabled).active,
.show > .btn-gameblast.dropdown-toggle {
  color: #fff;
  background: url('../../../assets/img/GB_Background_nologo.png') no-repeat top center #f58220;
  border-color: #f58220;
}

.btn-gameblast:not(:disabled):not(.disabled):active:focus,
.btn-gameblast:not(:disabled):not(.disabled).active:focus,
.show > .btn-gameblast.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 130, 32, 0.5);
}
