.advertisement-panel-bg {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 480px;
  height:550px;
  width:479px;
  opacity: 0.5;
  background-color: #000000;
  background-image: url("../../../../../assets/img/obs-bg/botw_jeremy_fenske.jpg");
  background-image: url("../../../../../assets/img/obs-bg/loz2_ghibli.jpg");
  background-image: url("../../../../../assets/img/obs-bg/loz3_ghibli.jpg");
  background-image: url("../../../../../assets/img/obs-bg/loz_ghibli.jpg");
  background-image: url("../../../../../assets/img/obs-bg/ltop_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/mm_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/oot2_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/oot_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/ss_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/ss_bg.png");
  background-image: url("../../../../../assets/img/obs-bg/tp1_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/tp2_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/tp3_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/tp4_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/ww2_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/ww_bg.jpg");
  background-image: url("../../../../../assets/img/obs-bg/Zelda-DLC-header.jpg");
  background-image: url("../../../../../assets/img/obs-bg/Zelda-header.jpg");
  background-image: url("../../../../../assets/img/obs-bg/zelda_2_barba_bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.advertisement-panel {
  position: relative;
  height: 520px;
  width: 100%;
  color: darkgrey;
  opacity: 0.8;
  background: -webkit-linear-gradient(-45deg, #212529, #313539);
  border: 1px solid #50529a;
  z-index: 1;
}

.advertisement-img {
  max-height: 300px;
  max-width: 100%;
}
