.advertisement-panel-bg {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 470px;
  height: 100%;
  width: 100%;
  max-height: calc(548px + 8px);
  max-width: calc(479px + 8px);
  opacity: 1;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  transition: background 1.5s linear;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.advertisement-panel {
  position: relative;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  color: white;
  opacity: 1;
  box-shadow: 0 0 120px 120px rgba(0,0,0,0.5) inset;
  z-index: 1;
  margin-top: 2px;
  margin-left: 6px;
}

.advertisement-img {
  max-height: 300px;
  max-width: 100%;
}
