.side-panel {
  border-right: 2px solid darkgoldenrod;
  height: 1024px;
  width: 554px;
  max-height: 1024px;
  max-width: 554px;
}

.gameplay-panel {
  background-color: transparent;
  height: 820px;
  width: 1366px;
  max-height: 820px;
  max-width: 1366px;
  z-index: -1;
}

.ds3-bottom-screen {
  height: 413px;
  width: 554px;
}

.camera-panel {
  background-color: transparent;
  height: 407px;
  width: 554px;
  max-height: 407px;
  max-width: 554px;
  z-index: -1;
}
.camera-panel:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 2px solid darkgoldenrod;
  height: 415px;
  width: 554px;
  max-height: 415px;
  max-width: 554px;
  z-index: 0;
}

.adv-panel {
  border-top: 1px solid darkgoldenrod;
  height: 204px;
  width: 554px;
  max-height: 204px;
  max-width: 554px;
}

.bottom-panel {
  height: 204px;
  width: 1366px;
  max-height: 204px;
  max-width: 1366px;
  background: -webkit-linear-gradient(0deg, darkgoldenrod 45%, transparent 55%, transparent);
}

.name-timer-panel-container {
  width: calc(100% - 4px);
  height: calc(100% - 16px);
  box-shadow: 0 0 80px 80px rgba(0,0,0,0.4) inset;
  opacity: 1;
  margin-top: 8px;
  margin-left: 4px;
}

.name-timer-panel {
  border-right: 2px solid darkgoldenrod;
  height: 204px;
  width: 616px;
  max-height: 204px;
  max-width: 616px;
  background: radial-gradient(ellipse closest-corner, rgba(184,134,11,0.75) 0%, rgba(184,134,11,0.85) 60%, rgba(184,134,11,1) 85%, rgba(184,134,11,1) 100%), url("../../../../assets/img/obs-bg/hylian-symbol-1.png");
  background-size: cover;
  background-position: bottom;
}
.name-timer-panel::after {
  content: "";
  display: block;
  position: relative;
  height: 204px;
  width: 615px;
  opacity: 1;
  top: -178px;
  left: 0;
  z-index: -1;
}

.game-desc-panel {
  height: 204px;
  width: 750px;
  max-height: 204px;
  max-width: 750px;
}

.new-donation-text {
  color: #f5f5f5;
  -webkit-text-stroke: 0.045em black;
  font-size: 16px;
  font-family: 'Bungee', cursive;
  z-index: 0;
}

.donation {
  color: white;
  border-right: 1px solid #dee2e6 !important;
  border-radius: 0.25rem;
  padding: 8px 8px 4px 8px;
  width: 100%;
}

.donation-img {
  padding: 1px;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 3em;
  max-height: 3em;
  max-width: 3em;
}

.facebook-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #3b5998;
  border: #344e86 solid 2px;
}

.facebook-donation::before {
  z-index:-1;
  position:absolute;
  left: 0;
  top: 0;
  content: url("../../../../assets/img/thumb_icon_header_image_05_2018.png");
  transform: scale(.25) translateX(-50%) translateY(-135%);
  opacity: 0.2;
}

.justgiving-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #932aa1;
  border: #6e2079 solid 2px;
}

.justgiving-donation::before {
  z-index:-1;
  position:absolute;
  left: 0;
  top: 0;
  content: url("../../../../assets/img/JustGiving_Logo-cropped.png");
  transform: scale(.5) translateX(-40%) translateY(50%);
  opacity: 0.4;
}

.test-donation {
  position: relative;
  z-index:1;
  overflow:hidden;
  background-color: #505050;
  border: #404040 solid 2px;
}


.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-3 8:38:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}




.slide-out-elliptic-bottom-bck {
  -webkit-animation: slide-out-elliptic-bottom-bck 0.7s ease-in both;
  animation: slide-out-elliptic-bottom-bck 0.7s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-3 8:37:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-elliptic-bottom-bck
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-elliptic-bottom-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-bottom-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

