<div class="d-flex justify-content-center align-items-center omnibar"
     style="">
  <div class="d-flex justify-content-center align-items-center omnibar-brand"
       style="height:56px; width:180px; max-height:56px; max-width:180px; border-right: 2px solid rgb(9, 98, 224);"
       id="brand_logo">
    <img alt="zeldathonuk_brand_logo"
         src="../../../../assets/img/zeldathonuk_brand_logo2.png"
         class="px-3 py-2"
         style="max-width: 90%;" />
  </div>
  <div class="d-flex flex-grow-1 justify-content-center align-items-center omnibar-content"
       style="height:56px; max-height:56px;"
       id="omnibar_content">

    <app-call-to-action *ngIf="showOmnibarContent1"></app-call-to-action>
    <app-up-next-game *ngIf="showOmnibarContent2"></app-up-next-game>
    <app-omnibar-donations style="max-width: 1370px;" *ngIf="showOmnibarContent3"></app-omnibar-donations>
    <app-omnibar-donation-plea *ngIf="showOmnibarContent4"></app-omnibar-donation-plea>

  </div>
  <div class="d-flex justify-content-center align-items-center omnibar-donation-total"
       style="height:56px; max-height:56px; border-left: 2px solid rgb(9, 98, 224);"
       id="donation_total_charity_logo">
    <div class="p-3">
      <h2 class="dtotal m-0" *ngIf="(fundraisingPageDetails | async) as frpd">
        {{ (frpd.totalRaisedOnline + frpd.totalRaisedOffline) | currency:frpd.currencySymbol }}
      </h2>
    </div>
    <img [src]="getCharityLogoUrl()"
         class="pl-1 pr-3"
         style="max-width: 120px;" />
  </div>
</div>
