.omnibar {
  border-top: 2px solid rgb(9, 98, 224);
  background: -webkit-linear-gradient(-90deg, #313539, #414549);
}

.omnibar-brand {
  height:56px;
  max-height:56px;
  width:180px;
  max-width:180px;
  background: rgb(9, 98, 224);
  border-right: 2px solid rgb(9, 98, 224);
  z-index: 5;
}

.omnibar-donation-total {
  background: rgb(9, 98, 224);
  z-index: 5;
}

.dtotal {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.035em royalblue;
  font-size: 3em;
  font-family: 'Bungee', cursive;
  color: transparent;
  z-index: 5;
}

.dtotal-odometer-div {
  position: relative;
  top: -6px;
}

.dtotal-odometer-pound {
  position: relative;
  top: 6px;
  font-weight: 900;
  color: white;
}

.dtotal-odometer {
  color: white;
  font-weight: 900;
  font-family: 'Bungee', cursive;
}

#donation_total_charity_logo {
  z-index: 15;
}

.getCharityLogoUrl {
  z-index: 15;
}

.omnibar-content {
  background: -webkit-linear-gradient(-90deg, #313539, #414549);
  /*
  background: -webkit-linear-gradient(0deg, #270266 10%, #3C0C78 40%, #782F99 65%);
  */
}
