<ng-template [ngIf]="callToAction">
  <div class="d-flex justify-content-center" style="height:56px; max-height: 56px;">
    <div class="d-flex align-items-center mt-1">
      <div class="h1 call-to-action-gold mr-3 mb-0">
        ZeldathonUK
      </div>
      <div class="h1 call-to-action-white mr-3 mb-0">
        benefits the SpecialEffect Charity
      </div>
      <div class="h1 call-to-action-orange mb-0">
        #GameBlast{{ currentDate | date:'yyyy' }}
      </div>
    </div>
  </div>
</ng-template>
