.call-to-action-purple {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: mediumpurple; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-white {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}

.call-to-action-orange {
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
  color: black;
  -webkit-text-fill-color: darkorange; /* Will override color (regardless of order) */
  text-shadow: 2px 2px black;
}
