.cntdwn {
  background: -webkit-linear-gradient(-90deg, #46336b, #628cc4, #628cc4, #46336b);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.05em #ffffff;
  color: transparent;
}

.green {
  background: green;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
