<div class="container-fluid">
  <div class="d-block green p-5">
    <div class="d-flex flex-column justify-content-center flex-fill">
      <div class="cntdwn my-0 py-0" style="font-size: 4em; line-height: 1em; font-family: 'Bungee', cursive;">
        <span *ngIf="activityName">{{ activityName }}</span>
      </div>
      <div class="cntdwn my-0 py-0" style="font-size: 14em; line-height: 1em; font-family: 'Bungee', cursive;">
        {{ timer$ | async }}
      </div>
    </div>
  </div>
</div>
