<div class="d-flex justify-content-center bg-secondary h-100">
  <div class="d-flex align-self-center">

    <div class="d-flex flex-column">
      <h5 class="text-white">
        <span class="text-white-50">access_token: </span>{{ access_token }}
      </h5>
      <h5 class="text-white">
        <span class="text-white-50">scope: </span>{{ scope }}
      </h5>
      <h5 class="text-white">
        <span class="text-white-50">state: </span>{{ state }}
      </h5>
      <h5 class="text-white">
        <span class="text-white-50">token_type: </span>{{ token_type }}
      </h5>
    </div>

  </div>
</div>
