<div class="timer-outer mt-2">
  <div class="d-flex justify-content-start timer-inner">
    <div class="d-flex align-items-center m-1" style="width: 20%;">
      <span class="timer-label ms-2">Play&nbsp;Time:</span>
    </div>
    <div class="d-flex justify-content-between" style="width: 80%;">
      <div class="d-flex align-self-center">
        <h1 class="timer-text">{{ this.countUpTimer$ | async }}</h1>
      </div>
      <div class="d-flex justify-content-around" style="z-index: 10;">
        <div class="d-flex align-self-center mx-2" *ngIf="timeToShow === 'local'">
          <div style="width: 110px">
            <span class="timer-label text-white-50">Local Time:</span>
            <h5 class="text-white">{{ getLocalTime() | async }}</h5>
          </div>
        </div>
        <div class="d-flex align-self-center mx-2" *ngIf="timeToShow === 'total'">
          <div style="width: 110px">
            <span class="timer-label text-white-50">Total&nbsp;Play&nbsp;Time:</span>
            <h5 class="text-white">{{ getTotalTime() | async }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
