<div class="side-panel spt">
  <div class="d-flex spt-game"
       style="height:175px; max-height:175px;">
    <div class="d-flex justify-content-center align-items-center spt-game-bg"
         [ngStyle]="{ 'background-position':yPos }">
      <h1 class="text-center spt-game-text" style="width: 90%; overflow-wrap: break-word;">
        {{ gameName | uppercase }}
      </h1>
    </div>
  </div>
  <div class="d-flex justify-content-center"
       style="height:30px; max-height:30px; margin: 0px; margin-top: -15px;">
    <div class="d-flex justify-content-center align-items-center spt-type"
         style="height:30px; width: 90%;">
      {{ gameType }}
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center spt-platform"
       style="height:85px; max-height:85px; margin-top: -20px;">
    <div class="d-flex justify-content-center text-center spt-platform-content"
         style="height:30px; width: 90%;">
      <div style="width: 33%;">
        <div class="spt-platform-text br-l p-1">
          {{ gamePlatform }}
        </div>
        <div class="small text-muted">
          Platform
        </div>
      </div>
      <div style="width: 33%;">
        <div class="spt-platform-text align-items-center br-m mx-1 p-1">
          {{ gameRelYear }}
        </div>
        <div class="small text-muted">
          Release Year
        </div>
      </div>
      <div style="width: 33%;">
        <div class="spt-platform-text br-r p-1">
          {{ gameEstimate }}
        </div>
        <div class="small text-muted">
          Estimate
        </div>
      </div>
    </div>
  </div>
</div>
