.header {
  display: block;
  top: 0!important;
}

.router-outlet {
  min-height: calc(100vh - 46px - 25px);
  max-height: calc(100vh - 46px - 25px);
}

.router-outlet-obs {
  max-height: calc(100vh);
}

.zeldathon-bg {
  background: #111421;
}
