.side-panel {
  height:1024px;
  width:479px;
  max-height:1024px;
  max-width:479px;
  border-top: 8px solid #E71347;
}

.gameplay-panel {
  background-color: transparent; /*#28a745; */
  height:809px;
  width:1442px;
  max-height:809px;
  max-width:1442px;
  z-index: -1;
}

.camera-panel {
  background-color: transparent;
  height:530px;
  width:479px;
  max-height:530px;
  max-width:479px;
  z-index: -1;
}

.adv-panel {
  height:550px;
  width:479px;
  max-height:550px;
  max-width:479px;
}

.bottom-panel {
  height:215px;
  width:1442px;
  max-height:215px;
  max-width:1442px;
  background: -webkit-linear-gradient(0deg, #E71347 45%, transparent 55%, transparent);
}

.name-timer-panel-container {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  box-shadow: 0 0 80px 80px rgba(0,0,0,0.4) inset;
  opacity: 1;
  margin-top: 8px;
  margin-left: 8px;
}

.name-timer-panel {
  height: 215px;
  max-height: 215px;
  width: 691px;
  max-width: 691px;
  background: radial-gradient(ellipse closest-corner, rgba(231,19,71,0.75) 0%, rgba(218,68,113,0.85) 30%, rgba(231,54,75,0.85) 60%, rgba(218,68,113,1) 85%, rgba(231,19,71,1) 100%),
  url("../../../../assets/img/obs-bg/hylian-symbol-1.png");
  background-size: cover;
  background-position: bottom;
}
.name-timer-panel::after {
  content: "";
  display: block;
  position: relative;
  height:215px;
  width:691px;
  opacity: 1;
  top: -184px;
  left: 0;
  z-index: -1;
}

.game-desc-panel {
  display: block;
  position: relative;
  height:215px;
  width:750px;
  max-height:215px;
  max-width:750px;
}
