.text-bloodmoon {
  background: linear-gradient(45deg, #E71347, #DA4471, #E7364B, #DA4471, #E71347);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
}

.btn-bloodmoon {
  color: #fff;
  background: linear-gradient(45deg, #4C1324, #731C37, #B92753, #731C37, #4C1324);
  border-color: #2B1B25;
}

.btn-bloodmoon:hover {
  color: #fff;
  background: linear-gradient(45deg, #4C1324, #731C37, #B92753, #731C37, #4C1324);
  border-color: #2B1B25;
  filter: opacity(85%);
}

.bg-bloodmoon {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.bg-bloodmoon:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #FFC2E0, #E59FCB, #D96DA9);
  opacity: 0.15;
  z-index: -1;
}

.btn-justgiving {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:hover {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:focus, .btn-justgiving.focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-justgiving.disabled, .btn-justgiving:disabled {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:not(:disabled):not(.disabled):active, .btn-justgiving:not(:disabled):not(.disabled).active,
.show > .btn-justgiving.dropdown-toggle {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:not(:disabled):not(.disabled):active:focus, .btn-justgiving:not(:disabled):not(.disabled).active:focus,
.show > .btn-justgiving.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}






.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:focus, .btn-facebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}
