<ng-container *ngIf="(currentGame$ | async) as currentGame">
  <ng-container *ngIf="(gameLineUp$ | async) as gameLineUp">
    <div class="d-flex justify-content-start align-items-center h-50">

      <div class="d-flex justify-content-start align-items-center runner-name-bm">
        <div class="d-flex align-items-center m-1" style="width: 20%;">
          <span class="runner-name-label ms-2">Runner:</span>
        </div>

        <ng-container *ngIf="(zeldaGame$ | async) as zeldaGame">
          <ng-container *ngIf="getRunnersCharLength(zeldaGame) < 35; else scrollingNames;">
            <div class="d-flex justify-content-start m-1" style="width: 80%;">
              <ng-container *ngFor="let runner of zeldaGame.runners">
                <div class="d-flex align-items-center mx-2">
                  <h5 class="d-inline m-0 me-2" *ngIf="runner.channelUrl.includes('twitch')"><fa-icon [icon]="faTwitch"></fa-icon></h5>
                  <h5 class="d-inline m-0 me-2" *ngIf="runner.channelUrl.includes('youtube')"><fa-icon [icon]="faYoutube"></fa-icon></h5>
                  <h3 class="d-inline m-0 text-break text-truncate">{{ runner.name }}</h3>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #scrollingNames>
            <marquee behavior="alternate" scrollamount="1">
              <div class="d-flex justify-content-start m-1" style="width: 80%;">
                <ng-container *ngFor="let runner of zeldaGame.runners">
                  <div class="d-flex align-items-center mx-2">
                    <h5 class="d-inline m-0 me-2" *ngIf="runner.channelUrl.includes('twitch')"><fa-icon [icon]="faTwitch"></fa-icon></h5>
                    <h5 class="d-inline m-0 me-2" *ngIf="runner.channelUrl.includes('youtube')"><fa-icon [icon]="faYoutube"></fa-icon></h5>
                    <h3 class="d-inline m-0 text-break text-truncate">{{ runner.name }}</h3>
                  </div>
                </ng-container>
              </div>
            </marquee>
          </ng-template>
        </ng-container>
      </div>

    </div>
  </ng-container>
</ng-container>
