<div class="container p-3" style="background-color: #606060;">

  <div class="py-2">
    <h3 class="text-white">Incentives For Donors</h3>
    <h6 class="text-white-50">
      We have a number of donor incentives to help inspire and motivate more people to start donating, give larger donations than they normally would, and engage long-term with our chosen charity.
    </h6>
    <div class="text-center card card-header">
      <div class="d-inline">
        <button class="btn btn-sm btnfacebook mr-3" (click)="donateFacebook();">
          Donate via Facebook
        </button>
        <button class="btn btn-sm btn-justgiving" (click)="donateJustGiving();">
          Donate via JustGiving
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="d-inline-flex flex-fill">

      <div class="card text-white bg-secondary w-25 mr-2">
        <div class="card-header">
          <a class="font-weight-bold text-warning" href="https://www.insertcoinclothing.com/specialeffect/" target="_blank">Insert Coin</a> Voucher (<b>£10</b>)
        </div>
        <div class="card-body">
          <a href="https://www.insertcoinclothing.com/specialeffect/" target="_blank">
            <img class="card-img" style="max-height: 125px;" src="https://www.insertcoinclothing.com/images/2016/logo.svg">
          </a>
        </div>
        <div class="card-footer small">
          Quantity: <b>1</b>
        </div>
      </div>

      <div class="card text-white bg-secondary w-25 mr-2">
        <div class="card-header">
          <a class="font-weight-bold text-warning" href="https://www.insertcoinclothing.com/specialeffect/" target="_blank">Insert Coin</a> Voucher (<b>£5</b>)
        </div>
        <div class="card-body">
          <a href="https://www.insertcoinclothing.com/specialeffect/" target="_blank">
            <img class="card-img" style="max-height: 125px;" src="https://www.insertcoinclothing.com/images/2016/logo.svg">
          </a>
        </div>
        <div class="card-footer small">
          Quantity: <b>5</b>
        </div>
      </div>

      <div class="card text-white bg-secondary w-25 mr-2">
        <div class="card-header">
          Ocarina of Time 3DS Promo Item
        </div>
        <div class="card-body">
          <img class="card-img" style="max-height: 125px;" src="/assets/img/s-l300.jpg">
        </div>
        <div class="card-footer small">
          Quantity: <b>30</b>
        </div>
      </div>

    </div>
  </div>

</div>
