<div class="container p-3" style="background-color: #606060;">

  <div class="py-2">
    <h3 class="text-white">Incentives For Donors</h3>
    <h6 class="text-white-50">
      We have a number of donor incentives to help inspire and motivate more people to start donating, give larger donations than they normally would, and engage long-term with our chosen charity.
    </h6>
  </div>

  <div class="text-center card card-header">
    <div class="d-flex justify-content-center p-3">
      <img src="../../../assets/img/logo-specialeffect.png" alt="SpecialEffect Logo">
    </div>
    <div class="d-inline">
      <button class="btn btn-sm btnfacebook mr-3" (click)="donateFacebook();">
        Donate via Facebook
      </button>
      <button class="btn btn-sm btn-justgiving" (click)="donateJustGiving();">
        Donate via JustGiving
      </button>
    </div>
  </div>

  <h2 class="text-white my-5">Challenges</h2>
  <div class="d-flex my-2">

    <div class="d-inline-flex flex-fill">

      <div class="card text-white bg-secondary w-25 mr-2">
        <div class="card-header">
          <h5>EXERCISE</h5> <span class="badge badge-success mr-1">Team</span> <span class="badge badge-warning">During certain hours</span>
        </div>
        <img class="card-img" style="width: 275px; height: 275px;" src="../../../assets/img/challenges/exercise.jpg">
        <div class="card-body">
          You donate and we have to exercise. Push-ups, sit-ups, <a class="font-weight-bold text-white" href="https://clips.twitch.tv/SolidFamousLaptopOSsloth" target="_blank">backflips</a>...
        </div>
        <div class="card-footer small">
          Donation Total: <b>Any</b>
        </div>
      </div>

    </div>
  </div>

  <h2 class="text-white my-5">Prizes</h2>
  <div class="d-flex my-2">

    <div class="d-inline-flex flex-fill">

      <div class="card text-white bg-secondary w-25 mr-2">
        <div class="card-header">
          Ocarina of Time 3DS Promo Item
        </div>
        <img class="card-img" style="width: 275px; height: 275px;" src="../../../assets/img/prizes/s-l300.jpg">
        <div class="card-body">
          <span class="font-weight-bold text-danger">Nintendo UK</span> have given us multiple Legend of Zelda promotional items for our prize winners to win!
        </div>
        <div class="card-footer small">
          Quantity: <b>30</b>
        </div>
      </div>

    </div>
  </div>

</div>
