
.btn-justgiving {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:hover {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:focus, .btn-justgiving.focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}

.btn-justgiving.disabled, .btn-justgiving:disabled {
  color: #fff;
  background-color: #ad29b6;
  border-color: #ad29b6;
}

.btn-justgiving:not(:disabled):not(.disabled):active, .btn-justgiving:not(:disabled):not(.disabled).active,
.show > .btn-justgiving.dropdown-toggle {
  color: #fff;
  background-color: #bf49cf;
  border-color: #bf49cf;
}

.btn-justgiving:not(:disabled):not(.disabled):active:focus, .btn-justgiving:not(:disabled):not(.disabled).active:focus,
.show > .btn-justgiving.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(173, 41, 182, 0.5);
}






.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:focus, .btn-facebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}
