.advertisement-panel-bg-container {
  position: relative;
  background: rgba(184, 134, 11, 0.75);
}

.advertisement-panel-bg {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: calc(550px + 8px);
  max-width: calc(555px + 16px);
  opacity: 1;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  transition: background 1.5s linear;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -3;
}

.advertisement-panel {
  position: relative;
  height: calc(420px - 16px);
  width: calc(553px - 16px);
  color: white;
  opacity: 1;
  box-shadow: 0 0 120px 120px rgba(0,0,0,0.5) inset;
  z-index: 1;
}

.advertisement-img {
  max-width: 100%;
  max-height: 300px;
}
