<div class="d-flex justify-content-start align-items-center h-100 w-100">
  <div class="advertisement-panel-bg-container h-100 w-100">

    <div class="advertisement-panel-bg"
         [style.background-image]="bgImageUrls[bgImageIndex]"></div>

    <div class="advertisement-panel mt-2 ml-2">
      <div class="d-flex justify-content-center h-100 w-100">
        <div class="d-flex align-self-center w-100">

          <div class="d-block w-50 mx-auto">
            <img class="advertisement-img"
                 alt="Charity Logo"
                 [src]="charityLogoUrl">
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
