<div class="d-flex flex-column break-container">

  <div class="d-flex justify-content-center">
    <div class="flex-column">
      <div class="mt-5">
        <img src="../../../../assets/img/Zeldathon-Logo-svg_white.fw.png" class="zeldathon-logo" alt="zeldathon-logo">
      </div>
      <h1 class="text-center text-white" style="font-family: 'Bungee', cursive;">
        BLOOD MOON
      </h1>
    </div>
  </div>

  <div class="d-flex flex-fill justify-content-between">

    <div class="d-flex justify-content-start">
      <div class="d-flex align-self-center">
        <div class="d-flex flex-column ms-5">
          <span class="d-block break-title-pretext opacity-60">Taking a short break</span>
          <span class="d-block break-title-text">Be right back</span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-start">
      <div class="d-flex align-self-center">
        <div class="d-flex flex-column me-5">
          <ng-container *ngIf="milliseconds >= 0">
          <span class="d-block break-title-pretext opacity-60">Back in:</span>
            <div class="d-flex countdown-container">
                <span class="d-block break-title-text">{{ timer }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-around pb-5">

    <div class="">
      <span class="d-block break-title-pretext opacity-60">Fundraising for:</span>
      <img src="../../../../assets/img/specialeffect-logo.svg" class="special-effect-image" alt="specialeffect-logo">
    </div>

    <div class="">
      <span class="d-block break-title-pretext opacity-60">Taking part in:</span>
      <img src="../../../../assets/img/GB22_Logo_Linear_DarkBGs_Small.png" class="gameblast-image" alt="GB22_Logo">
    </div>

  </div>

</div>
