<div class="container" style="background-color: #606060;">
  <div class="text-white py-3">

    <h2 class="">ZeldathonUK Terms of Service</h2>
    <h3>1. Terms</h3>
    <p>By accessing the website at <a class="bg-light text-primary px-1" href="https://www.zeldathon.co.uk/">https://www.zeldathon.co.uk/</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
    <h3>2. Use Licence</h3>
    <ol type="a">
      <li>Everyone is permitted to copy, modify and distribute verbatim copies of the ZeldathonUK website for personal, commercial, distribution, patent use, and private use. The source code can be found at <a class="bg-light text-primary px-1" href="https://github.com/minimike86/zeldathonuk">https://github.com/minimike86/zeldathonuk</a>
        This is the grant under a GNU General Public License v3.0, not a transfer of title, and under this licence you may convey a work based on the Program, or the modifications to produce it from the Program, in the form of source code under the terms of section 4, provided that you also meet all of these conditions:
        <ol type="i">
          <li>The work must carry prominent notices stating that you modified it, and giving a relevant date.</li>
          <li>The work must carry prominent notices stating that it is released under this License and any conditions added under section 7. This requirement modifies the requirement in section 4 to “keep intact all notices”.</li>
          <li>You must license the entire work, as a whole, under this License to anyone who comes into possession of a copy. This License will therefore apply, along with any applicable section 7 additional terms, to the whole of the work, and all its parts, regardless of how they are packaged. This License gives no permission to license the work in any other way, but it does not invalidate such permission if you have separately received it.</li>
          <li>If the work has interactive user interfaces, each must display Appropriate Legal Notices; however, if the Program has interactive interfaces that do not display Appropriate Legal Notices, your work need not make them do so.</li>
        </ol>
      </li>
    </ol>
    <h3>3. Disclaimer</h3>
    <ol type="a">
      <li>The materials on ZeldathonUK's website are provided on an 'as is' basis. ZeldathonUK makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
      <li>Further, ZeldathonUK does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
    </ol>
    <h3>4. Limitations</h3>
    <p>In no event shall ZeldathonUK or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on ZeldathonUK's website, even if ZeldathonUK or a ZeldathonUK authorised representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
    <h3>5. Accuracy of materials</h3>
    <p>The materials appearing on ZeldathonUK's website could include technical, typographical, or photographic errors. ZeldathonUK does not warrant that any of the materials on its website are accurate, complete or current. ZeldathonUK may make changes to the materials contained on its website at any time without notice. However ZeldathonUK does not make any commitment to update the materials.</p>
    <h3>6. Links</h3>
    <p>ZeldathonUK has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ZeldathonUK of the site. Use of any such linked website is at the user's own risk.</p>
    <h3>7. Modifications</h3>
    <p>ZeldathonUK may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
    <h3>8. Governing Law</h3>
    <p>These terms and conditions are governed by and construed in accordance with the laws of United Kingdom and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
    <p>Last Updated: 1 October 2020.</p>

  </div>
</div>
