<ng-template [ngIf]="showUpNextGame">
  <div class="d-flex justify-content-between" style="height:56px; max-height:56px;">

    <div id="last-donors-text">
      <div class="d-flex justify-content-start" [ngClass]="slideIn ? 'slide-in-left' : 'slide-out-left'">
        <div class="d-flex align-self-center up-next-div">
            <span class="d-flex justify-content-between align-self-center up-next">UP NEXT</span>
        </div>
        <div class="up-next-div-triangle"></div>
      </div>
    </div>

    <div class="flex-grow-1">
      <div class="d-flex justify-content-center align-self-center">
        <h1 class="call-to-action-white mt-1 mb-0" [ngClass]="slideIn ? 'fade-in' : 'fade-out'">
          {{ getNextGame()?.gameName }}
        </h1>
      </div>
    </div>

  </div>
</ng-template>
