<ng-container *ngIf="(facebookFundraisingPage | async) as ffp">

  <div *ngIf="ffp !== undefined; then displayTotal ? showDonations : showDonors else showNothing"></div>
  <ng-template #showDonations>
    <div class="text-center jg-text-dark mt-1" style="line-height: 0.65em;">
      <h6 class="m-0" style="font-family: 'Press Start 2P', cursive;">{{ ffp.amountRaised | currency:'GBP' }}</h6>
      <span class="jg-text-dark" style="font-size: 0.65em;" title="Facebook Donations Total">Current Total (FB)</span>
    </div>
  </ng-template>
  <ng-template #showDonors>
    <div class="text-center jg-text-dark mt-1" style="line-height: 0.65em;">
      <h6 class="m-0" style="font-family: 'Press Start 2P', cursive;">{{ ffp.donorCount }}</h6>
      <span class="jg-text-dark" style="font-size: 0.65em;" title="Facebook Donor Count">Number of Donors (FB)</span>
    </div>
  </ng-template>
  <ng-template #showNothing>
  </ng-template>

</ng-container>
