/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Mukta');

.bg-wind-waker {
  background-image:     url(assets/img/ww-wave1.png),
                        linear-gradient(-0deg, rgba(132, 222, 255, 1), rgba(132, 222, 255, 0.75));
  background-repeat:    no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position:  bottom left, center;
}
