<div class="d-flex justify-content-start align-items-center runner-name-outer">
  <div class="d-flex justify-content-start align-items-center runner-name">
    <div class="d-flex  align-items-center m-1 w-25">
      <span class="runner-name-label ml-2">Runner:</span>
    </div>
    <div class="d-flex align-items-center m-1 w-50">
      <h2 class="m-0 mr-2" *ngIf="runnerName.runnerHasTwitchAccount"><fa-icon [icon]="faTwitch"></fa-icon></h2>
      <h1 class="m-0">{{ runnerName.runnerName }}</h1>
    </div>
  </div>
</div>
